{# empty Twig template #}

{% extends 'MinsalSimagdBundle::simagd_base_show.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgNotaDiagnosticoAdmin/notdiag_config_notaDiag_modal.js') }}" ></script>
{% endblock %}

{% block actions %}
    <li>
        {% if ( object.idDiagnostico is not null ) and ( ( is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_NOTA_DIAGNOSTICO_CREATE') and
                                    is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_ESTUDIO_PACIENTE_VIEW') ) or is_granted('ROLE_ADMIN') ) %}
            {% include 'MinsalSimagdBundle:ImgEstudioPacienteAdmin:est_recuperarEstudio_button.html.twig'
                            ignore missing with { 'estudioPaciente': object.idDiagnostico.idLectura.idEstudio } %}
        {% endif %}
    </li>
    <li>
        {% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') and
                    ( object.idUserReg.id == app.user.id or is_granted('ROLE_ADMIN') ) %}
            {% include 'SonataAdminBundle:Button:edit_button.html.twig' %}
        {% endif %}
    </li>
    <li>{% include 'SonataAdminBundle:Button:history_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
{% endblock %}

{% block simagd_form_navbar_brand_title %}
    <span class="navbar-brand">
        <span class="label label-primary-v4">
            <i class="fa fa-comment"></i> <i class="fa fa-eye"></i> Nota al diagnóstico para estudio de: <i>{{ object.idDiagnostico.idLectura.idEstudio.idExpediente.idPaciente|truncate(50) }}</i>
        </span>
    </span>
{% endblock %}

{# muestra de información de apoyo #}
{% block custom_entity_support %}
    <div id="custom-entity-content-body">
        {% if object.idDiagnostico is not null %}
            {{ render(controller( 'MinsalSimagdBundle:ImgNotaDiagnosticoAdmin:mostrarInformacionModal',
                                                    { 'idDiagnosticoPadre' : object.idDiagnostico.id,
                                                        'id' : object.id ? object.id : -1,
                                                        '_sonata_admin' : 'minsal_simagd.admin.img_nota_diagnostico' } )) }}
        {% endif %}
    </div>
{% endblock %}