{# empty Twig template #}

{% extends 'MinsalSimagdBundle::simagd_base_list.html.twig' %}

{% block simagd_form_navbar_brand_title %}
    <span class="navbar-brand"><span class="label label-primary-v2"> <i class="fa fa-comments"></i> <i class="fa fa-reply-all"></i> Notas agregadas a diagnósticos radiológicos </span></span>
{% endblock %}

{% block actions %}
    {% spaceless %}
        {# sin actions #}
    {% endspaceless %}
{% endblock %}