{# empty Twig template #}

    <div class="col-xs-9">
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="messageDefaultInfo">
		<div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button"    class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only"> Cerrar </span>
                    </button>
                    <strong>Sin resultados!</strong> No se encontraró información relevante para este registro.
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-3"> <!-- required for floating -->
        <!-- Nav tabs -->
        <ul class="nav nav-tabs tabs-right">
            <li class="active danger"><a   href="#messageDefaultInfo" data-toggle="pill">Mensaje</a></li>
        </ul>
    </div>