{# empty Twig template #}

{% extends 'MinsalSimagdBundle::simagd_base_edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/RyxCtlConexionPacsEstablecimientoAdmin/pacs_duracion_estudio.js') }}" ></script>
    
    {#{% include 'MinsalSimagdBundle:RyxCtlConexionPacsEstablecimientoAdmin:pacs_bootstrapValidator.js.twig' %}#}
    
    {#{% include 'MinsalSimagdBundle:RyxCtlConexionPacsEstablecimientoAdmin:pacs_bootstrapValidator.js.twig' %}#}

    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/CRUD/base_edit.js') }}" ></script>
{% endblock %}
    
{% block form %}
    {#{% set pacs_vars = { 'simagd_title': 'FORMULARIO PARA ADMINISTRAR CONEXIÓN A SERVIDOR PACS',
                        'simagd_message': 'Utilice este formulario para administrar la configuración del servidor PACS local'
    }%}
    {% include 'MinsalSimagdBundle:Menu:simagd_cabecera.html.twig' ignore missing with pacs_vars %}#}
    
    {{ parent() }}
{% endblock %}

{# muestra de información de apoyo #}
{% block custom_entity_support %}
    <div id="custom-entity-content-body">
        {% include 'MinsalSimagdBundle:RyxCtlConexionPacsEstablecimientoAdmin:pacs_modal_support.html.twig'
                    ignore missing with { 'establecimientoInfo': object.idEstablecimiento,
                                         } %}
    </div>
{% endblock %}