{# empty Twig template #}

{% extends 'MinsalSimagdBundle::simagd_base_list.html.twig' %}

{% block simagd_form_navbar_brand_title %}
    <span class="navbar-brand"><span class="label label-primary-v4"> <i class="fa fa-paperclip"></i> <i class="fa fa-reply-all"></i> Solicitudes de diagnóstico radiológico </span></span>
{% endblock %}

{% block actions %}
    {% spaceless %}
        {# sin actions #}
    {% endspaceless %}
{% endblock %}