{# empty Twig template #}
    
{% block simagd_assignRadValidationX_alert %}
    <div class="simagd-response-bs-alert" aria-hidden="true">
	<div class="alert alert-warning alert-dismissable" id="simagd-assign-newrecord-unknownreg-response-bs-alert" style="display: none;">
	    <button type="button" class="close" data-dismiss="alert">x</button>
	    <span>
		<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
		<strong>Migración exitosa! &nbsp; </strong> Los registros fueron asignados a nuevo expediente satisfactoriamente.
	    </span>
	</div>
    </div>
{% endblock %}