{# empty Twig template #}

{% set object_expediente    = object.getIdExpediente() %}
{% set object_paciente      = object_expediente.getIdPaciente() %}

<ul class="nav nav-pills nav-stacked col-md-3 col-xs-3" style="{#padding-left: 15px;#}"> <!-- required for floating -->
    <!-- Nav tabs -->
    {% if object_expediente.getIdPaciente() is not null %}
	<li class="active"><a   href="#lct_pacienteTab" data-toggle="pill"> <span class="glyphicon glyphicon-user"></span> Paciente <i class="fa"></i></a></li>
    {% endif %}
</ul>

<!-- Tab panes -->
<div class="tab-content col-md-9 col-xs-9" style="overflow-y: auto; min-height: 760px;">
    
    {% if object_expediente.getIdPaciente() is not null %}
        {% include 'MinsalSimagdBundle:show_entity_block:pct_entity_block.html.twig' ignore missing with {'object_patient': object_expediente.getIdPaciente(), 'object_localRecord': localRecord, 'tab_active': true, 'box_style': 'primary-v2'} %}
    {% endif %}
    
</div>