{# empty Twig template #}

{% if object.requiereCita and admin.hasRoute('citar') and
		( app.user.getIdEstablecimiento.getId == object.getIdEstablecimientoReferido.getId ) and
		( ( is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_CITA_CREATE') and is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_CITA_EDIT') and
			is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_CITA_VIEW') ) or is_granted('ROLE_ADMIN') )
%}

    <a   class="sonata-action-element" href="{{ admin.generateObjectUrl('citar', object) }}" title="Citar paciente preinscrito">
        <i class="fa fa-tags"></i>
        Citar</a>

{% endif %}