{# empty Twig template #}


    

    <form id="formPacientesAtendidos" method="post" class="form-horizontal" >

        <div class="form-group col-sm-12">
            <label class="col-sm-2 control-label">Fecha Inicio</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="fechaIni_1" name="fechaIni_1" readonly="readonly" />
            </div>
            <label class="col-sm-2 control-label">Fecha final</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="fechaFin_1" name="fechaFin_1" readonly="readonly" />
            </div>
        </div>
        
        <input type="hidden" class="form-control" name="report_selector" value="1" />

    </form>