{# empty Twig template #}

{% extends 'MinsalSimagdBundle::simagd_base_show.html.twig' %}

{% block simagd_form_navbar_brand_title %}
    <span class="navbar-brand">
        <span class="label label-primary-v2">
            <i class="fa fa-link"></i> <i class="fa fa-eye"></i> Conexión a servidor PACS: <i>{{ object.nombreConexion }}</i>
        </span>
    </span>
{% endblock %}

{# muestra de información de apoyo #}
{% block custom_entity_support %}
    <div id="custom-entity-content-body">
        {% include 'MinsalSimagdBundle:ImgCtlPacsEstablecimientoAdmin:pacs_modal_support.html.twig'
                    ignore missing with { 'establecimientoInfo': object.idEstablecimiento,
                                         } %}
    </div>
{% endblock %}