{# empty Twig template #}

{% extends 'MinsalSimagdBundle::simagd_base_list.html.twig' %}

{% block simagd_form_navbar_brand_title %}
    <span class="navbar-brand"><span class="label label-primary-v2"> <i class="fa fa-link"></i> <i class="fa fa-refresh"></i> <i class="fa fa-tasks"></i> Conexiones a servidores PACS </span></span>
{% endblock %}