<!-- data-contentwrapper -->

<div class="prc_container_contentwrapper" style="display: none;"> <!-- data-contentwrapper selector-->
  	<div style="background: #16677d; padding: 15px;border-radius: 4px;"> <!-- data-contentwrapper container dark selector-->
      	<div style="background: #ffffff; padding: 5px;border-radius: 4px;"> <!-- data-contentwrapper container clean selector-->
		    <table class="table table-hover table-condensed table-responsive table-striped table-borderless non-top-bordered-table">
				<tr>
				    <th class="col-md-2"><span class="simagd-text-primary">Origen:</span></th>
				    <td class="col-md-10" colspan="3" data-render-info="idEstablecimiento"></td>
				</tr>
				<tr>
				    <th class="col-md-2"><span class="simagd-text-primary">Procedencia:</span></th>
				    <td class="col-md-4" data-render-info="idAreaAtencion"></td>
				    <th class="col-md-2"><span class="simagd-text-primary">Servicio:</span></th>
				    <td class="col-md-4" data-render-info="idAtencion"></td>
				</tr>
				<tr>
				    <th class="col-md-2"><span class="simagd-text-primary">Solicitante:</span></th>
				    <td class="col-md-10" colspan="3" data-render-info="idEmpleado"></td>
				</tr>
				<tr>
				    <th class="col-md-2"><span class="simagd-text-primary">Creada:</span></th>
				    <td class="col-md-10" colspan="3" data-render-info="fechaCreacion"></td>
				</tr>
				<tr>
				    <th class="col-md-2"><span class="simagd-text-primary">Modalidad:</span></th>
				    <td class="col-md-10" colspan="3" data-render-info="idAreaServicioDiagnostico"></td>
				</tr>
				<tr>
		                    <th class="col-md-2"><span class="simagd-text-primary">Proyecciones:</span></th>
				    <td class="col-md-10" colspan="3" data-render-info=""></td>
				</tr>
				<tr>
		                    <td class="col-md-12" style="border-top: 0px solid #fff !important;" colspan="4" data-render-info="solicitudEstudioProyeccion"></td>
				</tr>
				<tr>
				    <th class="col-md-2"><span class="simagd-text-primary">Próxima consulta:</span></th>
				    <td class="col-md-4" data-render-info="fechaProximaConsulta"></td>
				    <th class="col-md-2"><span class="simagd-text-primary">Prioridad:</span></th>
				    <td class="col-md-4" data-render-info="idPrioridadAtencion"></td>
				</tr>
				<tr>
				    <td colspan="4" class="col-md-12">
						<div class="btn-toolbar" role="toolbar" aria-label="...">
						    <div class="btn-group" role="group">
							<button type="button"    class="btn btn-primary-v2 btn-outline btn-sm editable-submit show-solicitud-action" title="Mostrar solicitud detallada"><i class="glyphicon glyphicon-info-sign"></i></button>
							<a   class="btn btn-primary-v2 btn-outline btn-sm editable-submit edit-solicitud-action" href="javascript:void(0)" target="_blank" title="Editar solicitud de estudio"><i class="glyphicon glyphicon-repeat"></i></a>
						    </div>
						    {#<div class="btn-group" role="group">
						    </div>#}
						    <div class="btn-group" role="group">
							<button type="button"    class="btn btn-primary-v2 btn-outline btn-sm editable-submit radx-ind-solicitud-action" title="Agregar indicaciones del Médico radiólogo"
							{% if not ( is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_LECTURA_CREATE') or is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_CITA_CREATE') or is_granted('ROLE_ADMIN') ) %}
							    disabled="disabled"
							{% endif %}><i class="glyphicon glyphicon-log-in"></i></button>
						    </div>
						    <div class="btn-group" role="group">
							<button type="button"    class="btn btn-element-v2 btn-outline btn-sm editable-submit sin-cita-solicitud-action" title="Enviar a lista de trabajo"><i class="glyphicon glyphicon-circle-arrow-right"></i></button>
						    </div>
						    <div class="btn-group" role="group">
							<button type="button"    class="btn btn-default btn-outline btn-sm editable-cancel close-solicitud-action" title="Cerrar"><i class="glyphicon glyphicon-remove"></i></button>
						    </div>
						</div>
				    </td>
				</tr>
			
		    </table>
		</div>
	</div>
</div>