{# empty Twig template #}
    
{% block simagd_citQueued_alert %}
    <div class="simagd-response-bs-alert" aria-hidden="true">
	<div class="alert alert-info alert-dismissable" id="simagd-queued-response-bs-alert" style="display: none;">
	    <button type="button"    class="close" data-dismiss="alert">x</button>
	    <span>
		<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
		<strong>Cita Confirmada! &nbsp; </strong> El paciente ha sido agregado a lista de trabajo.
	    </span>
	</div>
    </div>
{% endblock %}