{# empty Twig template #}

{# modal-event-calendar #}
<div id="cancel-cita-modal" class="modal fade justify-bootstrap-div-container" role="dialog" tabindex="-1" style="display: none;" data-backdrop="static" data-keyboard="false">
    <div class="modal-content panel-danger">
        <div class="modal-header panel-heading">
            <button type="button"    class="close" data-dismiss="modal" aria-hidden="true"> <i class="fa fa-times"></i> </button>
            <h4 class="modal-title"><i class="fa fa-eraser"></i> Cancelación de cita</h4>
        </div>

        <div class="modal-body">

            <form id="cancelarCitaForm" action="{{ path('simagd_cita_cancelarCita') }}" method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4 control-label">¿Qué desea hacer?</label>
                    <div class="col-sm-8">
                        <div class="radio">
                            <label>
                                <input type="radio" name="estadoCitaId" id="estadoCitaId6" value="6" checked="checked" /> Cancelar cita
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="estadoCitaId" id="estadoCitaId5" value="5" /> Anular cita
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Justifique la acción</label>
                    <div class="col-sm-8">
                        <textarea rows="3" class="form-control" name="razonAnuladaCita" id="razonAnuladaCita" placeholder="Escriba por qué desea cancelar/anular esta cita" maxlength="150" style="resize: none" /></textarea>
                    </div>
                </div>
                
                <input type="hidden" id="citaId" name="citaId" value="" />

                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-4">
                        <p class="text-warning"><span class="glyphicon glyphicon-warning-sign"></span> ¿Está seguro que desea continuar?</p>
                    </div>
                    <div class="col-sm-8 col-sm-offset-4">
                        <button type="button"    data-dismiss="modal" class="btn btn-primary-v2 btn-outline"><i class="fa fa-times"></i> No, Cerrar</button>
                        <button type="submit"    id="btn_cancel_cita" name="btn_cancel_cita" class="btn btn-danger btn-outline" ><i class="fa fa-trash-o"></i> Si, Continuar</button>
                    </div>
                </div>
            </form>
            
        </div>
        
    </div><!-- /.modal-content -->
</div><!-- /.modal -->

{% include 'MinsalSimagdBundle:ImgCitaAdmin:cit_config_cancel_cita.js.twig' %} {# configuración js #}