{# empty Twig template #}

{# modal-event-calendar #}
<div id="cancelarCita-modal" class="modal container fade justify-bootstrap-div-container simagd-full-form-container" role="dialog" tabindex="-1" style="display: none;" data-backdrop="static" data-keyboard="false" data-focus-on="input:first">
    <div class="modal-content panel-danger">
        <div class="modal-header panel-heading">
            <button type="button"    class="close" data-dismiss="modal" aria-hidden="true"> <i class="fa fa-times"></i> </button>
            <h4 class="modal-title"><i class="fa fa-times-circle"></i> <i class="fa fa-trash-o"></i> Cita Programada</h4>
        </div>

        <div class="modal-body">

	    <div class="row outer" style="padding-left: 15px; padding-right: 15px;">
		{#<div class="box box-danger" >
		    <div class="box-header">
			<h4 class="box-title">
			    <span class="label label-danger"> Formulario para cancelación </span>
			</h4>
		    </div>
		    <div class="box-body">#}
		    
			<h4 class="" style="padding-left: 15px;">
			    <span class="label label-danger"> Formulario para cancelación </span>
			</h4>
			<br/>

			<form id="cancelarCitaForm" action="{{ path('simagd_cita_cancelarCita') }}" method="post" class="form-horizontal simagd-form-custom-class"
			    data-fv-framework="bootstrap"
			    data-fv-icon-valid="glyphicon glyphicon-ok"
			    data-fv-icon-invalid="glyphicon glyphicon-remove"
			    data-fv-icon-validating="glyphicon glyphicon-refresh"

			    data-fv-message="El valor introducido no es válido">

			    <ul class="nav nav-pills nav-stacked col-md-3 col-xs-3" style="padding-left: 15px;"> <!-- required for floating -->
				<!-- Nav tabs -->
                                <li class="active"><a   href="#cancelacionTab" data-toggle="pill"> <span class="glyphicon glyphicon-remove-circle"></span> Cita <i class="fa"></i></a></li>
                            </ul>
                            
                            <!-- Tab panes -->
                            <div class="tab-content col-md-9 col-xs-9">
                                <div class="tab-pane fade in active" id="cancelacionTab" >

                                    <input type="hidden" id="formCancelCitId" name="formCancelCitId" value="" />

                                    <div class="form-group">
                                        <label class="col-xs-4 control-label required">Estado</label>
                                        <div class="col-xs-8">
                                            <select id="formCancelCitIdEstadoCita" name="formCancelCitIdEstadoCita" class="form-control select2-select" data-default="{{ default_statusCancelCit }}" data-select2-formatter="dateStatus"
                                                      {#data-fv-row=".col-xs-8"#}

                                                      data-fv-notempty="true"
                                                      data-fv-notempty-message="Seleccione un elemento" >
                                                <option value=""></option>
                                                <optgroup label="Estados posibles">
                                                {% for estado in estados if estado.codigo == 'CNL' or estado.codigo == 'ANL' %}
                                                    <option value="{{ estado.id }}">{{ estado }}</option>
                                                {% endfor %}
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-xs-4 control-label required">Razón</label>
                                        <div class="col-xs-8">
                                            <textarea rows="3" class="form-control" name="formCancelCitRazonAnulada" id="formCancelCitRazonAnulada" placeholder="Digite la razón de cancelación/anulación" maxlength="150" style="resize: none"
                                                      {#data-fv-row=".col-xs-8"#}

                                                      data-fv-notempty="true"
                                                      data-fv-notempty-message="Este campo es requerido"

                                                      data-fv-stringlength="true"
                                                      data-fv-stringlength-min="15"
                                                      data-fv-stringlength-max="150"
                                                      data-fv-stringlength-message="15 caracteres mínimo"

                                                      data-fv-regexp="true"
                                                      data-fv-regexp-regexp="^[a-zA-ZüÜñÑáéíóúÁÉÍÓÚ0-9¿!¡;,:\.\?#@()_-\s]+$"
                                                      data-fv-regexp-message="Texto contiene caracteres no permitidos" /></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">Incidencias</label>
                                        <div class="col-xs-8">
                                            <textarea rows="3" class="form-control" name="formCancelCitIncidencias" id="formCancelCitIncidencias" placeholder="Desea agregar incidencias" maxlength="255" style="resize: none"
                                                      {#data-fv-row=".col-xs-8"#}

                                                      data-fv-stringlength="true"
                                                      data-fv-stringlength-min="15"
                                                      data-fv-stringlength-max="255"
                                                      data-fv-stringlength-message="15 caracteres mínimo"

                                                      data-fv-regexp="true"
                                                      data-fv-regexp-regexp="^[a-zA-ZüÜñÑáéíóúÁÉÍÓÚ0-9¿!¡;,:\.\?#@()_-\s]+$"
                                                      data-fv-regexp-message="Texto contiene caracteres no permitidos" /></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">Observaciones</label>
                                        <div class="col-xs-8">
                                            <textarea rows="3" class="form-control" name="formCancelCitObservaciones" id="formCancelCitObservaciones" placeholder="Desea agregar observaciones" maxlength="255" style="resize: none"
                                                      {#data-fv-row=".col-xs-8"#}

                                                      data-fv-stringlength="true"
                                                      data-fv-stringlength-min="15"
                                                      data-fv-stringlength-max="255"
                                                      data-fv-stringlength-message="15 caracteres mínimo"

                                                      data-fv-regexp="true"
                                                      data-fv-regexp-regexp="^[a-zA-ZüÜñÑáéíóúÁÉÍÓÚ0-9¿!¡;,:\.\?#@()_-\s]+$"
                                                      data-fv-regexp-message="Texto contiene caracteres no permitidos" /></textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group" style="{#margin-top: 15px;#} visibility: hidden;">
                                <div class="col-xs-8 col-xs-offset-4">
                                    <button type="submit"    class="btn btn-danger btn-outline btn-xs"><i class="glyphicon glyphicon-ok"></i> Enviar</button>
                                </div>
                            </div>

			</form>
				
		    {#</div>
		</div>#}
	    </div>

        </div>

        <div class="modal-footer" style="margin-top: 0px;">
            <span class="text-danger"><span class="glyphicon glyphicon-warning-sign"></span> ¿Está seguro que desea continuar? &nbsp;</span>
            <button type="button"    data-dismiss="modal" class="btn btn-primary-v4 btn-outline"><i class="fa fa-times"></i> No, Cerrar</button>
            <button type="submit"    id="btn_cancel_cita" name="btn_cancel_cita" class="btn btn-danger btn-outline" ><i class="fa fa-trash-o"></i> Si, Continuar</button>
        </div>

    </div><!-- /.modal-content -->
</div><!-- /.modal -->