

<div class="cit_container_contentwrapper" style="display: none;"> <!-- data-contentwrapper selector-->
  	<div style="background: #16677d; padding: 15px;border-radius: 4px;"> <!-- data-contentwrapper container dark selector-->
      	<div style="background: #ffffff; padding: 5px;border-radius: 4px;"> <!-- data-contentwrapper container clean selector-->
		    <table class="table table-hover table-condensed table-responsive table-striped table-borderless non-top-bordered-table">
			    <tr>
				<th class="col-md-3"><span class="simagd-text-primary">Origen:</span></th>
				<td colspan="3" class="col-md-9" data-render-info="idEstablecimiento"></td>
			    </tr>
			    <tr>
				<th class="col-md-3"><span class="simagd-text-primary">Área:</span></th>
				<td class="col-md-3" data-render-info="idAreaAtencion"></td>
				<th class="col-md-3"><span class="simagd-text-primary">Servicio:</span></th>
				<td class="col-md-3" data-render-info="idAtencion"></td>
			    </tr>
			    <tr>
				<th class="col-md-3"><span class="simagd-text-primary">Solicitante:</span></th>
				<td class="col-md-3" data-render-info="idEmpleadoSolicitante"></td>
				<th class="col-md-3"><span class="simagd-text-primary">Se solicitó:</span></th>
				<td class="col-md-3" data-render-info="fechaCreacion"></td>
			    </tr>
			    <tr>
				<th class="col-md-3"><span class="simagd-text-primary">Próxima consulta:</span></th>
				<td class="col-md-3" data-render-info="fechaProximaConsulta"></td>
				<th class="col-md-3"><span class="simagd-text-primary">Prioridad:</span></th>
				<td class="col-md-3" data-render-info="idPrioridadAtencion"></td>
			    </tr>
			    <tr>
				<th class="col-md-3"><span class="simagd-text-primary">Proyecciones:</span></th>
				<td colspan="3" class="col-md-9" data-render-info="solicitudEstudioProyeccion"></td>
			    </tr>
			    <tr>
				<th class="col-md-3"><span class="simagd-text-primary">Recepcionista:</span></th>
				<td class="col-md-3" data-render-info="idEmpleado"></td>
				<th class="col-md-3"><span class="simagd-text-primary">Se creó:</span></th>
				<td class="col-md-3" data-render-info="fechaCreacion"></td>
			    </tr>
			    <tr>
				<td colspan="4" class="col-md-12">
				    <div class="btn-toolbar" role="toolbar" aria-label="...">
					<div class="btn-group" role="group">
					    <button type="button"    class="btn btn-primary-v4 btn-outline btn-sm editable-submit show-cita-popover-action" title="Mostrar detalles de esta cita"><i class="glyphicon glyphicon-info-sign"></i></button>
					    <button type="button"    class="btn btn-primary-v4 btn-outline btn-sm editable-submit edit-cita-popover-action" title="Editar esta cita"><i class="glyphicon glyphicon-repeat"></i></button>
					</div>
					{#<div class="btn-group" role="group">
					</div>#}
					<div class="btn-group" role="group">
					    <button type="button"    class="btn btn-element-v2 btn-outline btn-sm editable-submit confirm-cita-popover-action" title="Confirmar esta cita"><i class="glyphicon glyphicon-circle-arrow-right"></i> {#Confirmar#}</button>
					    <button type="button"    class="btn btn-danger btn-outline btn-sm editable-submit cancel-cita-popover-action" title="Cancelar esta cita"><i class="glyphicon glyphicon-trash"></i> {#Cancelar#}</button>
					</div>
					{#<div class="btn-group" role="group">
					</div>#}
					<div class="btn-group" role="group">
					    <button type="button"    class="btn btn-primary-v4 btn-outline btn-sm editable-submit print-cita-popover-action" title="Imprimir comprobante de cita"><i class="glyphicon glyphicon-print"></i></button>
					</div>
					<div class="btn-group" role="group">
					    <button type="button"    class="btn btn-default btn-outline btn-sm editable-cancel close-cita-popover-action" title="Cerrar"><i class="glyphicon glyphicon-remove"></i></button>
					</div>
				    </div>
				</td>
			    </tr>
			
		    </table>
		</div>
	</div>
</div>