{# empty Twig template #}

    {% if esCancelable %}

        {% if template == 'show' %}

            <a   class="open-cancelCitaDialog text-danger sonata-action-element" data-toggle="modal" href="#" data-id="{{ idCita }}" data-target="#cancel-cita-modal" title="Cancelar cita de paciente">
                <i class="fa fa-ban"></i>
                Cancelar
            </a>

        {% else %}

            <a   data-toggle="modal" href="#" data-id="{{ idCita }}" data-target="#cancel-cita-modal" class="open-cancelCitaDialog btn btn-sm btn-danger" title="Cancelar cita de paciente">
                <i class="glyphicon glyphicon-ban-circle"></i>
                Cancelar
            </a>

        {% endif %}

    {% endif %}