{# empty Twig template #}

    <div class="col-xs-9">{# usar PILLS en lugar de tabs en simagd-info   http://api.jquery.com/jquery.param/ #}
        <!-- Tab panes -->
        <div class="tab-content">
            {% if exploracionInfo is not null %}
                <div class="tab-pane fade in active" id="exploracionInfo" >
                    {% include 'MinsalSimagdBundle:show_entity_block:expl_bloque_informacion.html.twig' %}
                </div>
            {% endif %}
            {% if examenInfo is not null %}
                <div class="tab-pane fade" id="examenInfo" >
                    {% include 'MinsalSimagdBundle:show_entity_block:exm_bloque_informacion.html.twig' %}
                </div>
            {% endif %}
            {% if modalidadInfo is not null %}
                <div class="tab-pane fade" id="modalidadInfo" >
                    {% include 'MinsalSimagdBundle:show_entity_block:m_bloque_informacion.html.twig' %}
                </div>
            {% endif %}
            {% if establecimientoInfo is not null %}
                <div class="tab-pane fade" id="establecimientoInfo" >
                    {% include 'MinsalSimagdBundle:show_entity_block:std_bloque_informacion.html.twig' %}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="col-xs-3"> <!-- required for floating -->
        <!-- Nav tabs -->
        <ul class="nav nav-tabs tabs-right">
            {% if exploracionInfo is not null %}
                <li class="active"><a href="#exploracionInfo" data-toggle="pill"><span class="glyphicon glyphicon-folder-open"></span> Proyección</a></li>
            {% endif %}
            {% if examenInfo is not null %}
                <li><a href="#examenInfo" data-toggle="pill"><span class="glyphicon glyphicon-folder-open"></span> Examen</a></li>
            {% endif %}
            {% if modalidadInfo is not null %}
                <li><a href="#modalidadInfo" data-toggle="pill"><span class="glyphicon glyphicon-folder-open"></span> Modalidad</a></li>
            {% endif %}
            {% if establecimientoInfo is not null %}
                <li><a href="#establecimientoInfo" data-toggle="pill"><span class="glyphicon glyphicon-home"></span> Establecimiento</a></li>
            {% endif %}
        </ul>
    </div>