{# empty Twig template #}

{# modal-event-calendar #}
<div id="agregar-en-catalogo-modal" class="modal container fade justify-bootstrap-div-container simagd-full-form-container" role="dialog" tabindex="-1" style="display: none;" data-backdrop="static" data-keyboard="false" data-focus-on="input:first">
    <div class="modal-content panel-primary-v2">
        <div class="modal-header panel-heading">
            <button type="button"    class="close" data-dismiss="modal" aria-hidden="true"> <i class="fa fa-times"></i> </button>
            <h4 class="modal-title"><i class="fa fa-th"></i> Agregar proyección a catálogo local</h4>
        </div>

        <div class="modal-body">

	    <div class="row outer" style="padding-left: 15px; padding-right: 15px;">
		{#<div class="box box-primary-v2" >
		    <div class="box-header">
			<h4 class="box-title">
			    <span class="label label-success-v2"> Formulario para registro </span>
			</h4>
		    </div>
		    <div class="box-body">#}
		    
			<h4 class="" style="padding-left: 15px;">
			    <span class="label label-success-v2"> Formulario para registro </span>
			</h4>
			<br/>

			<form id="agregarEnLocalForm" action="{{ path('simagd_proyeccion_establecimiento_agregarProyeccionEnLocal') }}" method="post" class="form-horizontal simagd-form-custom-class"
			    data-fv-framework="bootstrap"
			    data-fv-icon-valid="glyphicon glyphicon-ok"
			    data-fv-icon-invalid="glyphicon glyphicon-remove"
			    data-fv-icon-validating="glyphicon glyphicon-refresh"

			    data-fv-message="El valor introducido no es válido">

			    <ul class="nav nav-pills nav-stacked col-md-3 col-xs-3" style="padding-left: 15px;"> <!-- required for floating -->
				<!-- Nav tabs -->
                                <li class="active"><a   href="#exploracionRzTab" data-toggle="pill"> <span class="glyphicon glyphicon-list-alt"></span> Proyección <i class="fa"></i></a></li>
                            </ul>
                            
                            <!-- Tab panes -->
                            <div class="tab-content col-md-9 col-xs-9">
                                <div class="tab-pane fade in active" id="exploracionRzTab" >

                                    <input type="hidden" id="formExplExplrzIdProyeccion" name="formExplExplrzIdProyeccion" value="" />
                                    <input type="hidden" id="formExplExplrzIdExamenServicioDiagnostico" name="formExplExplrzIdExamenServicioDiagnostico" value="" />
                                    <input type="hidden" id="formExplExplrzIdAreaExmEstab" name="formExplExplrzIdAreaExmEstab" value="" />

                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">Proyección</label>
                                        <div class="col-xs-8">
                                            <p class="form-control-static" id="formExplExplrzIdProyeccion-static-label"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">Examen</label>
                                        <div class="col-xs-8">
                                            <p class="form-control-static" id="formExplExplrzIdExamenServicioDiagnostico-static-label"></p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-xs-4 control-label required">Modalidad</label>
                                        <div class="col-xs-8">
                                            <select id="formExplExplrzIdAreaServicioDiagnostico" name="formExplExplrzIdAreaServicioDiagnostico" class="form-control select2-select" data-default="{{ default_mldRx }}" data-apply-formatter="mld"
                                                      {#data-fv-row=".col-xs-8"#}

                                                      data-fv-notempty="true"
                                                      data-fv-notempty-message="Seleccione un elemento" >
                                                <option value=""></option>
                                                <optgroup label="Imagenología">
                                                    {% for modalidad in modalidades %}
                                                        <option value="{{ modalidad.id }}">{{ modalidad }}</option>
                                                    {% endfor %}
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-xs-8 col-xs-offset-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="formExplExplrzHabilitado" id="formExplExplrzHabilitado" checked="checked" /> Habilitada en local
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">Observaciones</label>
                                        <div class="col-xs-8">
                                            <textarea rows="3" class="form-control" name="formExplExplrzObservaciones" id="formExplExplrzObservaciones" placeholder="Escriba observaciones sobre la proyección en local" maxlength="255" style="resize: none"
                                                      {#data-fv-row=".col-xs-8"#}

                                                      data-fv-stringlength="true"
                                                      data-fv-stringlength-min="15"
                                                      data-fv-stringlength-max="255"
                                                      data-fv-stringlength-message="15 caracteres mínimo"

                                                      data-fv-regexp="true"
                                                      data-fv-regexp-regexp="^[a-zA-ZüÜñÑáéíóúÁÉÍÓÚ0-9¿!¡;,:\.\?#@()_-\s]+$"
                                                      data-fv-regexp-message="Texto contiene caracteres no permitidos" /></textarea>
                                        </div>
                                    </div>
                                    
				</div>
			    </div><!-- tab content -->

                            <div class="form-group" style="{#margin-top: 15px;#} visibility: hidden;">
                                <div class="col-xs-8 col-xs-offset-4">
                                    <button type="submit"    class="btn btn-success-v2 btn-outline btn-xs"><i class="glyphicon glyphicon-ok"></i> Enviar</button>
                                </div>
                            </div>

			</form>
				
		    {#</div>
		</div>#}
	    </div>

        </div>

        <div class="modal-footer" style="margin-top: 0px;">
            <span class="text-info"><span class="glyphicon glyphicon-question-sign"></span> ¿Está seguro que desea continuar? &nbsp;</span>
            <button type="button"    data-dismiss="modal" class="btn btn-primary-v2 btn-outline"><i class="fa fa-times"></i> No, Cerrar</button>
            <button type="submit"    id="btn_agregar_explrz" name="btn_agregar_explrz" class="btn btn-success-v2 btn-outline" ><i class="fa fa-check-circle"></i> Si, Agregar</button>
        </div>

    </div><!-- /.modal-content -->
</div><!-- /.modal -->