{# empty Twig template #}
    
{% block simagd_locallist_alert %}
    <div class="simagd-response-bs-alert" aria-hidden="true">
	<div class="alert alert-success alert-dismissable" id="simagd-add-pry-locallist-response-bs-alert" style="display: none;">
	    <button type="button" class="close" data-dismiss="alert">x</button>
	    <span>
		<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
		<strong>Agregados! &nbsp; </strong> Los registros fueron ingresados en lista local satisfactoriamente.
	    </span>
	</div>
    </div>
{% endblock %}