{# empty Twig template #}

    <div id="contenidoFullData-showModalContainer" class="modal container fade justify-bootstrap-div-container simagd-full-form-container simagd-full-data-view" role="dialog" tabindex="-1" style="display: none;" data-backdrop="true" data-keyboard="true">
	<div class="modal-content panel-info-v2">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> <i class="fa fa-times"></i> </button>
                <h4 class="modal-title"><i class="fa fa-folder-open"></i> Nota al Diagnóstico radiológico</h4>
            </div>

            <div class="modal-body">

		<div {#style="padding-left: 15px; padding-right: 15px;"#}>
                
                {#<div class="panel panel-info-v2">
                    <div class="panel-heading">
                        <h3 class="panel-title"> <i class="fa fa-comment"></i> Detalles de la Nota </h3>
                    </div>
                    <div class="panel-body" >#}
		
		    <div class="row outer simagd-filter-content-layout" style="padding-left: 15px; padding-right: 15px; {#height: 500px; overflow-y: auto;#}">
                
                        <table class="table table-condensed">
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Contenido:</span></th>
                                <td colspan="3" class="col-md-10" data-render-info="contenido"></td>
                            </tr>
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Emitió:</span></th>
                                <td class="col-md-4" data-render-info="idEmpleado"></td>
                                <th class="col-md-2"><span class="simagd-text-primary">Usuario que registró:</span></th>
                                <td class="col-md-4" data-render-info="idUserReg"></td>
                            </tr>
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Tipo de empleado:</span></th>
                                <td class="col-md-4" data-render-info="idTipoEmpleado"></td>
                                <th class="col-md-2"><span class="simagd-text-primary">Creada en:</span></th>
                                <td class="col-md-4" data-render-info="idEstablecimiento"></td>
                            </tr>
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Tipo de nota:</span></th>
                                <td class="col-md-4" data-render-info="idTipoNotaDiagnostico"></td>
                                <th class="col-md-2"><span class="simagd-text-primary">Se creó:</span></th>
                                <td class="col-md-4" data-render-info="fechaEmision"></td>
                            </tr>
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Observaciones:</span></th>
                                <td colspan="3" class="col-md-10" data-render-info="observaciones"></td>
                            </tr>
                        </table>

                    </div>
                </div>
                
            </div>

            <div class="modal-footer">
                <button class='btn btn-element-v2' data-toggle='modal' href='#notdiagRecord-ShowModal' id='btn-notdiag-record'><i class="fa fa-search-plus"></i> Consulta </button>
                <button type="button" data-dismiss="modal" class="btn btn-primary-v2"> <i class="fa fa-times"></i> Cerrar </button>
            </div>
	</div><!-- /.modal-content -->
    </div><!-- /.modal -->