{# empty Twig template #}
    
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button"    class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only"> Cerrar </span>
        </button>
        <strong>Sin resultados!</strong> La consulta no arrojó ningún resultado.
    </div>