{# empty Twig template #}

    <div id="solicitudEstudioComplementarioFullData-showModalContainer" class="modal container fade justify-bootstrap-div-container simagd-full-form-container simagd-full-data-view" role="dialog" tabindex="-1" style="display: none;" data-backdrop="true" data-keyboard="true">
	<div class="modal-content panel-info-v2">
            <div class="modal-header panel-heading">
                <button type="button"    class="close" data-dismiss="modal" aria-hidden="true"> <i class="fa fa-times"></i> </button>
                <h4 class="modal-title"><i class="fa fa-folder-open"></i> Solicitud de estudio Imagenológico complementario</h4>
            </div>

            <div class="modal-body">

		<div {#style="padding-left: 15px; padding-right: 15px;"#}>
                
                {#<div class="panel panel-info-v2">
                    <div class="panel-heading">
                        <h3 class="panel-title"> <i class="fa fa-folder-open-o"></i> Detalles de la solicitud </h3>
                    </div>
                    <div class="panel-body" >#}
		
		    <div class="row outer simagd-filter-content-layout" style="padding-left: 15px; padding-right: 15px; {#height: 500px; overflow-y: auto;#}">
                
                        <table class="table table-condensed">
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Solicita:</span></th>
                                <td class="col-md-4" data-render-info="idRadiologoSolicita"></td>
                                <th class="col-md-2"><span class="simagd-text-primary">Creada:</span></th>
                                <td class="col-md-4" data-render-info="fechaSolicitud"></td>
                            </tr>
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Tipo de empleado:</span></th>
                                <td class="col-md-4" data-render-info="idTipoEmpleado"></td>
                                <th class="col-md-2"><span class="simagd-text-primary">Justificación:</span></th>
                                <td class="col-md-4" data-render-info="justificacion"></td>
                            </tr>
                            
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary"><i class="fa fa-inbox"></i> Solicitud de estudio padre:</span></th>
                                <td class="col-md-4" data-render-info="idSolicitudEstudio"></td>
                                    <div id="div-solcmpl-preinscripcion-padre" style="display: none;">
				    </div>
				    <div id="div-prz-sin-preinscripcion" class="alert alert-info alert-dismissible" role="alert" style="display: none;">
				        <button type="button"    class="close" data-dismiss="alert">
				            <span aria-hidden="true">&times;</span>
				            <span class="sr-only"> Cerrar </span>
				        </button>
				        <strong>Sin resultados!</strong> Estudio no proviene de solicitud de médico referente.
				    </div>
				</td>
			    </tr>
			    
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Se solicita se realize en:</span></th>
                                <td class="col-md-4" data-render-info="idEstablecimientoSolicitado"></td>
                                <th class="col-md-2"><span class="simagd-text-primary">Prioridad requerida:</span></th>
                                <td class="col-md-4" data-render-info="idPrioridadAtencion"></td>
                            </tr>
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Modalidad que solicita:</span></th>
                                <td class="col-md-4" data-render-info="idAreaServicioDiagnostico"></td>
                                <th class="col-md-2"><span class="simagd-text-primary">Usuario que registró:</span></th>
                                <td class="col-md-4" data-render-info="idUserReg"></td>
                            </tr>
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Estudio a complementar:</span></th>
                                <td class="col-md-4" data-render-info="idEstudioPadre"></td>
                                <th class="col-md-2"><span class="simagd-text-primary">Estudios asociados:</span></th>
                                <td class="col-md-4" data-render-info="idEstudiosAsociados"></td> <!-- Obtener a partir de idEstudioPadre->prz->prc y ->solcmpl -->
                            </tr>
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary"><i class="fa fa-eye"></i> Proyecciones solicitadas:</span></th>
                                <td colspan="3" class="col-md-10" data-render-info="solicitudEstudioComplementarioProyeccion"></td>
                            </tr>
                        </table>

                    </div>
                </div>
                
            </div>

            <div class="modal-footer">
                <button class='btn btn-element-v2 btn-outline' data-toggle='modal' href='#solcmplRecord-ShowModal' id='btn-solcmpl-record'><i class="fa fa-search-plus"></i> Consulta </button>
                <button type="button"    data-dismiss="modal" class="btn btn-primary-v2 btn-outline"> <i class="fa fa-times"></i> Cerrar </button>
            </div>
	</div><!-- /.modal-content -->
    </div><!-- /.modal -->