/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-03-2014, 03:16:13 PM
    Author     : farid
*/

//http://codepen.io/jackrugile/pen/EyABe
//http://codepen.io/lukepeters/pen/bfFur
//http://wptheming.com/downloads/simpletable.zip
//http://wptheming.com/downloads/simpletable/

.box-simagd .box-body table { 
    table-layout: fixed;
    width: 100%;
    //overflow: hidden;
    //white-space: nowrap;
    border-collapse: collapse;
}
.box-simagd .box-body td, th {
    vertical-align: top;
}
.box-simagd .box-body td {
    border-bottom: #E6E6E6 dotted thin;
    text-align: justify;
    padding-left: 10px;
}
.box-simagd .box-body th {
    border-bottom: #E6E6E6 dotted thin;
    text-align: right;
    padding-right: 10px;
    background: #F7F7F7;
}

table.simagd-search-table {
    border-collapse: collapse;
    border-top-color: #EB6025;
}
table.simagd-search-table tr.sonata-ba-list-field-header {
    background: #3c8dbc;
    color: #ffffff;
    text-align: center;
}

/* Loading Efect in button */
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.toolbar-vertical-divider {
    position: relative;
    float: left;
    margin-left: 15px;
    left: 250px;
    top: 10%;
    bottom: 10%;
    border-left: 1px solid lightslategray;
}

.table.non-top-bordered-table>thead>tr>th,
.table.non-top-bordered-table>tbody>tr>th,
.table.non-top-bordered-table>tfoot>tr>th,
.table.non-top-bordered-table>thead>tr>td,
.table.non-top-bordered-table>tbody>tr>td,
.table.non-top-bordered-table>tfoot>tr>td {
    padding: 8px !important;
    line-height: 1.42857143 !important;
    vertical-align: top !important;
    border-top: 0px solid #fff !important;
}

.table.non-top-bordered-table.list-group-item-contain-table>thead>tr>th,
.table.non-top-bordered-table.list-group-item-contain-table>tbody>tr>th,
.table.non-top-bordered-table.list-group-item-contain-table>tfoot>tr>th,
.table.non-top-bordered-table.list-group-item-contain-table>thead>tr>td,
.table.non-top-bordered-table.list-group-item-contain-table>tbody>tr>td,
.table.non-top-bordered-table.list-group-item-contain-table>tfoot>tr>td {
    padding: 4px !important;
}

.table.full-collapse-bordered-table>thead>tr>th,
.table.full-collapse-bordered-table>tbody>tr>th,
.table.full-collapse-bordered-table>tfoot>tr>th,
.table.full-collapse-bordered-table>thead>tr>td,
.table.full-collapse-bordered-table>tbody>tr>td,
.table.full-collapse-bordered-table>tfoot>tr>td {
    padding: 4px 8px 4px 8px !important;
}

.popover .table.full-collapse-bordered-table>thead>tr>th,
.popover .table.full-collapse-bordered-table>tbody>tr>th,
.popover .table.full-collapse-bordered-table>tfoot>tr>th,
.popover .table.full-collapse-bordered-table>thead>tr>td,
.popover .table.full-collapse-bordered-table>tbody>tr>td,
.popover .table.full-collapse-bordered-table>tfoot>tr>td {
    padding: 0px 2px 0px 2px !important;
}

/*
 * *****************************************************************************
 * --| JUST HORIZONTAL BORDERED BSTABLE
 * *****************************************************************************
 */
.content .bootstrap-table .table.table-bstable-report
{
    /* Create border between rows.*/
    /*border-collapse: collapse !important;
    border-spacing: 0px !important;*/
    font-size: 12px !important;
}
.content-header .bootstrap-table .table.table-bstable-report>thead>tr>th,
.content-header .bootstrap-table .table.table-bstable-report>tbody>tr>th,
.content-header .bootstrap-table .table.table-bstable-report>tfoot>tr>th,
.content-header .bootstrap-table .table.table-bstable-report>thead>tr>th,
.content-header .bootstrap-table .table.table-bstable-report>tbody>tr>th,
.content-header .bootstrap-table .table.table-bstable-report>tfoot>tr>th,
.content .bootstrap-table .table.table-bstable-report>thead>tr>th,
.content .bootstrap-table .table.table-bstable-report>tbody>tr>th,
.content .bootstrap-table .table.table-bstable-report>tfoot>tr>th,
.content .bootstrap-table .table.table-bstable-report>thead>tr>th,
.content .bootstrap-table .table.table-bstable-report>tbody>tr>th,
.content .bootstrap-table .table.table-bstable-report>tfoot>tr>th
{
    /*background-color: #ffffff !important;*/
    /*padding: 0.25em !important;*/
    
    /*
     border-top: 1px solid red;
     border-bottom: 1px solid red;
     *
     */
    
    border-top: 1px solid #16677d;
    border-bottom: 1px solid #16677d;
}
/*.content-header .bootstrap-table .table.table-bstable-report>thead>tr>td,
.content-header .bootstrap-table .table.table-bstable-report>tbody>tr>td,
.content-header .bootstrap-table .table.table-bstable-report>tfoot>tr>td,
.content-header .bootstrap-table .table.table-bstable-report>thead>tr>td,
.content-header .bootstrap-table .table.table-bstable-report>tbody>tr>td,
.content-header .bootstrap-table .table.table-bstable-report>tfoot>tr>td,
.content .bootstrap-table .table.table-bstable-report>thead>tr>td,
.content .bootstrap-table .table.table-bstable-report>tbody>tr>td,
.content .bootstrap-table .table.table-bstable-report>tfoot>tr>td,
.content .bootstrap-table .table.table-bstable-report>thead>tr>td,
.content .bootstrap-table .table.table-bstable-report>tbody>tr>td,
.content .bootstrap-table .table.table-bstable-report>tfoot>tr>td
{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}*/
.content-header .bootstrap-table .table.table-bstable-report>thead>tr .btn-toolbar .btn-group:not(:last-child),
.content-header .bootstrap-table .table.table-bstable-report>tbody>tr .btn-toolbar .btn-group:not(:last-child),
.content-header .bootstrap-table .table.table-bstable-report>tfoot>tr .btn-toolbar .btn-group:not(:last-child),
.content-header .bootstrap-table .table.table-bstable-report>thead>tr .btn-toolbar .btn-group:not(:last-child),
.content-header .bootstrap-table .table.table-bstable-report>tbody>tr .btn-toolbar .btn-group:not(:last-child),
.content-header .bootstrap-table .table.table-bstable-report>tfoot>tr .btn-toolbar .btn-group:not(:last-child),
.content .bootstrap-table .table.table-bstable-report>thead>tr .btn-toolbar .btn-group:not(:last-child),
.content .bootstrap-table .table.table-bstable-report>tbody>tr .btn-toolbar .btn-group:not(:last-child),
.content .bootstrap-table .table.table-bstable-report>tfoot>tr .btn-toolbar .btn-group:not(:last-child),
.content .bootstrap-table .table.table-bstable-report>thead>tr .btn-toolbar .btn-group:not(:last-child),
.content .bootstrap-table .table.table-bstable-report>tbody>tr .btn-toolbar .btn-group:not(:last-child),
.content .bootstrap-table .table.table-bstable-report>tfoot>tr .btn-toolbar .btn-group:not(:last-child)
{
    margin-bottom: 5px;
}
.content-header .bootstrap-table .table.table-bstable-report>thead>tr .btn-toolbar .btn-group .btn.btn-default,
.content-header .bootstrap-table .table.table-bstable-report>tbody>tr .btn-toolbar .btn-group .btn.btn-default,
.content-header .bootstrap-table .table.table-bstable-report>tfoot>tr .btn-toolbar .btn-group .btn.btn-default,
.content-header .bootstrap-table .table.table-bstable-report>thead>tr .btn-toolbar .btn-group .btn.btn-default,
.content-header .bootstrap-table .table.table-bstable-report>tbody>tr .btn-toolbar .btn-group .btn.btn-default,
.content-header .bootstrap-table .table.table-bstable-report>tfoot>tr .btn-toolbar .btn-group .btn.btn-default,
.content .bootstrap-table .table.table-bstable-report>thead>tr .btn-toolbar .btn-group .btn.btn-default,
.content .bootstrap-table .table.table-bstable-report>tbody>tr .btn-toolbar .btn-group .btn.btn-default,
.content .bootstrap-table .table.table-bstable-report>tfoot>tr .btn-toolbar .btn-group .btn.btn-default,
.content .bootstrap-table .table.table-bstable-report>thead>tr .btn-toolbar .btn-group .btn.btn-default,
.content .bootstrap-table .table.table-bstable-report>tbody>tr .btn-toolbar .btn-group .btn.btn-default,
.content .bootstrap-table .table.table-bstable-report>tfoot>tr .btn-toolbar .btn-group .btn.btn-default
{
    color: #16677d !important;
}
.content .bootstrap-table .table.table-bstable-report>tbody>tr:first-child>th,
.content .bootstrap-table .table.table-bstable-report>tbody>tr:first-child>td
{
    border-top: none !important;
}
/*
 * *****************************************************************************
 * END |-- JUST HORIZONTAL BORDERED BSTABLE
 * *****************************************************************************
 */


.pull-leftt.search,
.pull-right.search {
    width: 39.50%;
}
