/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-03-2014, 03:16:13 PM
    Author     : farid
*/

//http://codepen.io/jackrugile/pen/EyABe
//http://codepen.io/lukepeters/pen/bfFur
//http://wptheming.com/downloads/simpletable.zip
//http://wptheming.com/downloads/simpletable/

.box-simagd .box-body table { 
    table-layout: fixed;
    width: 100%;
    //overflow: hidden;
    //white-space: nowrap;
    border-collapse: collapse;
}
.box-simagd .box-body td, th {
    vertical-align: top;
}
.box-simagd .box-body td {
    border-bottom: #E6E6E6 dotted thin;
    text-align: justify;
    padding-left: 10px;
}
.box-simagd .box-body th {
    border-bottom: #E6E6E6 dotted thin;
    text-align: right;
    padding-right: 10px;
    background: #F7F7F7;
}

table.simagd-search-table {
    border-collapse: collapse;
    border-top-color: #EB6025;
}
table.simagd-search-table tr.sonata-ba-list-field-header {
    background: #3c8dbc;
    color: #ffffff;
    text-align: center;
}

/* Loading Efect in button */
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.toolbar-vertical-divider {
    position: relative;
    float: left;
    margin-left: 15px;
    left: 250px;
    top: 10%;
    bottom: 10%;
    border-left: 1px solid lightslategray;
}

.table.non-top-bordered-table>thead>tr>th,
.table.non-top-bordered-table>tbody>tr>th,
.table.non-top-bordered-table>tfoot>tr>th,
.table.non-top-bordered-table>thead>tr>td,
.table.non-top-bordered-table>tbody>tr>td,
.table.non-top-bordered-table>tfoot>tr>td {
    padding: 8px !important;
    line-height: 1.42857143 !important;
    vertical-align: top !important;
    border-top: 0px solid #fff !important;
}

.table.non-top-bordered-table.list-group-item-contain-table>thead>tr>th,
.table.non-top-bordered-table.list-group-item-contain-table>tbody>tr>th,
.table.non-top-bordered-table.list-group-item-contain-table>tfoot>tr>th,
.table.non-top-bordered-table.list-group-item-contain-table>thead>tr>td,
.table.non-top-bordered-table.list-group-item-contain-table>tbody>tr>td,
.table.non-top-bordered-table.list-group-item-contain-table>tfoot>tr>td {
    padding: 4px !important;
}

.table.full-collapse-bordered-table>thead>tr>th,
.table.full-collapse-bordered-table>tbody>tr>th,
.table.full-collapse-bordered-table>tfoot>tr>th,
.table.full-collapse-bordered-table>thead>tr>td,
.table.full-collapse-bordered-table>tbody>tr>td,
.table.full-collapse-bordered-table>tfoot>tr>td {
    padding: 4px 8px 4px 8px !important;
}

.popover .table.full-collapse-bordered-table>thead>tr>th,
.popover .table.full-collapse-bordered-table>tbody>tr>th,
.popover .table.full-collapse-bordered-table>tfoot>tr>th,
.popover .table.full-collapse-bordered-table>thead>tr>td,
.popover .table.full-collapse-bordered-table>tbody>tr>td,
.popover .table.full-collapse-bordered-table>tfoot>tr>td {
    padding: 0px 2px 0px 2px !important;
}