{# empty Twig template #}
    
<div id="bs-start-recognition-modal" class="modal container fade justify-bootstrap-div-container bs-start-recognition-modal" role="dialog" tabindex="-1" style="display: none;" data-backdrop="static" data-keyboard="false" data-focus-on="input:first" aria-labelledby="mySmallModalLabel">
    <div class="modal-content panel-element-v2">
        <div class="modal-header panel-heading">
            <button type="button"    class="close" data-dismiss="modal" aria-hidden="true"> <i class="fa fa-microphone-slash"></i> </button>
            <h4 class="modal-title"><i class="fa fa-microphone"></i> Dictado por voz</h4>
        </div>

        <div class="modal-body">
            <div id="webkitspeechrecognition_results" class="webkitspeechrecognition_results">
                <span id="final_span" class="final"></span>
                <span id="interim_span" class="interim"></span>
                <p></p>
            </div>
            <span style="color: #bbb;">El texto que aparezca en este cuadro, se copiará en el item seleccionado</span>
        </div>
    </div>
</div>