{# empty Twig template #}

{% set object_study                     = object.getIdEstudio() %}
{% set object_study_proc                = object_study.getIdProcedimientoRealizado() %}
{% set object_request                   = object_study_proc.getIdSolicitudEstudio() %}
{% set object_study_cit                 = object_study_proc.getIdCitaProgramada() %}
{% set object_expediente                = object_request.getIdExpediente() %}
{% set object_paciente                  = object_expediente.getIdPaciente() %}

{% set object_diagnostics               = object.getLecturaDiagnostico() %}
{% set object_diagnostic                = null %}
{% set object_notasdiag                 = null %}
{% for diagnostic in object_diagnostics %}
    {% set object_diagnostic            = diagnostic %}
    {% set object_notasdiag             = diagnostic.getNotasDiagnostico() %}
{% endfor %}

{% set object_requests_diagnostic       = object_study.getEstudioSolicitudesDiagnostico() %}
{% set object_request_diagnostic        = null %}
{% for request_diagnostic in object_requests_diagnostic %}
    {% set object_request_diagnostic    = request_diagnostic %}
{% endfor %}

<ul class="nav nav-pills nav-stacked col-md-3 col-xs-3" style="{#padding-left: 15px;#}"> <!-- required for floating -->
    <!-- Nav tabs -->
    {% if object_expediente.getIdPaciente() is not null %}
	<li class="active"><a   href="#lct_pacienteTab" data-toggle="pill"> <span class="glyphicon glyphicon-user"></span> Paciente <i class="fa"></i></a></li>
    {% endif %}
    {% if object_study_proc.getIdSolicitudEstudio() is not null %}
	<li><a   href="#lct_solicitudTab" data-toggle="pill"> <span class="glyphicon glyphicon-book"></span> Solicitud de estudio <i class="fa"></i></a></li>
    {% endif %}
    {% if object_study_proc.getIdCitaProgramada() is not null %}
        <li><a   href="#lct_citaTab" data-toggle="pill"> <span class="glyphicon glyphicon-tags"></span> Cita otorgada <i class="fa"></i></a></li>
    {% endif %}
    {% if object.getIdEstudio() is not null %}
	<li><a   href="#lct_estudiosTab" data-toggle="pill"> <span class="glyphicon glyphicon-eye-open"></span> Estudios realizados <i class="fa"></i></a></li>
    {% endif %}
    {% if object_request_diagnostic is not null %}
	<li><a   href="#lct_soldiagTab" data-toggle="pill"> <span class="glyphicon glyphicon-inbox"></span> Solicitud de Diagn贸stico <i class="fa"></i></a></li>
    {% endif %}
    {% if object_diagnostic is not null %}
	<li><a   href="#lct_lecturaTab" data-toggle="pill"> <span class="glyphicon glyphicon-adjust"></span> Diagn贸stico radiol贸gico <i class="fa"></i></a></li>
    {% endif %}
    {% if object_notasdiag | length > 0 %}
	<li><a   href="#lct_notdiagTab" data-toggle="pill"> <span class="glyphicon glyphicon-comment"></span> Notas al diagn贸stico <i class="fa"></i></a></li>
    {% endif %}
</ul>

<!-- Tab panes -->
<div class="tab-content col-md-9 col-xs-9" style="overflow-y: auto; min-height: 760px;">
    
    {% if object_expediente.getIdPaciente() is not null %}
        {% include 'MinsalSimagdBundle:show_entity_block:pct_entity_block.html.twig' ignore missing with {'object_patient': object_expediente.getIdPaciente(), 'object_localRecord': localRecord, 'tab_active': true, 'box_style': 'primary-v2'} %}
    {% endif %}
    
    {% if object.getIdEstudio() is not null %}
        {% include 'MinsalSimagdBundle:show_entity_block:est_entity_block.html.twig' ignore missing with {'object_study': object.getIdEstudio(), 'object_studies': object.getEstudiosLectura(), 'tab_active': false, 'box_style': 'primary-v2'} %}
    {% endif %}
    
    {% if object_study_proc.getIdSolicitudEstudio() is not null %}
        {% include 'MinsalSimagdBundle:show_entity_block:prc_entity_block.html.twig' ignore missing with {'object_request': object_study_proc.getIdSolicitudEstudio(), 'object_requests': null, 'tab_active': false, 'box_style': 'primary-v2'} %}
    {% endif %}
    
    {% if object_study_proc.getIdCitaProgramada() is not null %}
        {% include 'MinsalSimagdBundle:show_entity_block:cit_entity_block.html.twig' ignore missing with {'object_date': object_study_proc.getIdCitaProgramada(), 'object_dates': null, 'tab_active': false, 'box_style': 'primary-v2'} %}
    {% endif %}
    
    {% if object_request_diagnostic is not null %}
        {% include 'MinsalSimagdBundle:show_entity_block:soldiag_entity_block.html.twig' ignore missing with {'object_request_diagnostic': object_request_diagnostic, 'object_requests_diagnostic': null, 'tab_active': false, 'box_style': 'primary-v2'} %}
    {% endif %}
    
    {% if object_diagnostic is not null %}
        {% include 'MinsalSimagdBundle:show_entity_block:lct_entity_block.html.twig' ignore missing with {'object_rxresult': object, 'object_diagnostic': object_diagnostic, 'tab_active': false, 'box_style': 'primary-v2'} %}
    {% endif %}
    
    {% if object_notasdiag | length > 0 %}
        {% include 'MinsalSimagdBundle:show_entity_block:notdiag_entity_block.html.twig' ignore missing with {'object_notdiag': null, 'object_notasdiag': object_notasdiag, 'tab_active': false, 'box_style': 'primary-v2'} %}
    {% endif %}
    
</div>