{# empty Twig template #}

<div class="">             
    <div class="box-simagd box-simagd-header box-simagd-success">
        <div class="box-header">
            <h4 class="box-title">
                {{ simagd_title|upper }}
            </h4>
            <hr />
        </div>
        <div class="box-body">
            <div class="sonata-ba-collapsed-fields">
                <em>{{ simagd_message|raw }}</em>
            </div>
        </div>
    </div>
</div>
