{# empty Twig template #}

{% extends 'MinsalSimagdBundle:CRUD:base_list.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}



{% block sonata_page_content_header %} {% endblock sonata_page_content_header %}

{% block sonata_breadcrumb %} {% endblock sonata_breadcrumb %}{# #}

{% block actions %} {% endblock %}{# #}

{% block tab_menu %} {% endblock %}{# #}



{% block content %}
    {{ parent() }}

    <div class="{#col-lg-9 col-md-9 col-sm-9#} col-lg-10 col-md-10 col-sm-10 ">
        {#<div class="row">#} <!-- row block -->
            <div class="box box-drop-outside-shadow {#box-dark-theme#} box-primary-v4">
                <div class="box-body">

                    <!-- WORKLIST MENU -->
                    <div class="col-lg-10 col-md-10 col-sm-10 nav-pills-darkblue ">
                        <ul class="nav nav-pills nav-justified" id="_results_dashboard_display_items">
                            <li class="active"><a href="javascript:void(0)" onclick="generate(this, 'radiological_result'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-adjust"></span> RESULTADOS</a></li>
                            <li><a href="javascript:void(0)" onclick="generate(this, 'transcribed_diagnosis', 1); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-headphones"></span> RESULTADOS (TRANSC)</a></li>
                            <li><a href="javascript:void(0)" onclick="generate(this, 'second_medical_opinions'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-comment"></span> SEG. OPINIONES</a></li>
                            <li><a href="javascript:void(0)" onclick="generate(this, 'further_study_request'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-inbox"></span> SOLICITUDES (ADIC.)</a></li>
                        </ul>
                    </div>

                    <!-- DISPLAY TYPE -->
                    <ul class="list-unstyled list-inline input-sm " id="_results_dashboard_display_type" style="margin-top: 3px; margin-bottom: 6px;">
                        <li>
                            <label class="">
                                <input type="radio" checked="checked" value="list" name="_results_dashboard_display_type" id="_results_dashboard_display_type_0">
                                <span style="margin-left: 5px;"> Lista</span>
                            </label>
                        </li>
                        <li>
                            <label class="">
                                <input type="radio" {#checked="checked"#} value="detail" name="_results_dashboard_display_type" id="_results_dashboard_display_type_1">
                                <span style="margin-left: 5px;"> Detalle</span>
                            </label>
                        </li>
                    </ul>

                </div>
            </div>
        {#</div>#} <!-- end row block -->

        <div class="tab-pane fade in active" id="tab_list__" style="min-height: 768px;" >

            <!--
            //////////////////////////////////////////////////////////////
            //////// TABLE
            //////////////////////////////////////////////////////////////
             -->
            <!-- table for any result -->
            <div class="{#col-lg-12 col-md-12 col-sm-12#} {#col-lg-9 col-md-9 col-sm-9#} ">
                <table class="table table-condensed" id="ryx_target_bstable" name="ryx_target_bstable" {#data-toggle="table" #}>
                    <thead>
                    </thead>
                </table>
            </div>
            <!-- end table -->


            <!--
            //////////////////////////////////////////////////////////////
            //////// END --| TABLE
            //////////////////////////////////////////////////////////////
             -->

        </div>

    </div>

    <div class="{#col-lg-3 col-md-3 col-sm-3#} col-lg-2 col-md-2 col-sm-2 ">

        <!-- vertical pills -->
        <div class="{#col-lg-3 col-md-3 col-sm-3#} nav-pills-medicine ">
            <ul class="nav nav-pills nav-stacked {#nav-justified#} " id="_stacked_results_dashboard_display_items">
                <li class="active"><a href="javascript:void(0)" onclick="generate(this, 'radiological_result'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-adjust"></span> RESULTADOS</a></li>
                <li><a href="javascript:void(0)" onclick="generate(this, 'transcribed_diagnosis', 1); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-headphones"></span> RESULTADOS (TRANSC)</a></li>
                <li><a href="javascript:void(0)" onclick="generate(this, 'second_medical_opinions'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-comment"></span> SEG. OPINIONES</a></li>
                <li><a href="javascript:void(0)" onclick="generate(this, 'further_study_request'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-inbox"></span> SOLICITUDES (ADIC.)</a></li>
            </ul>
        </div>

    </div>

    <!--
    //////////////////////////////////////////////////////////////
    //////// SCRIPT FUNCTIONS
    //////////////////////////////////////////////////////////////
     -->
    {% include 'MinsalSimagdBundle:General:results_dashboard_script.html.twig' %}
    {% include 'MinsalSimagdBundle:ImgLecturaAdmin:lct_actionEvents.html.twig' %}
    {% include 'MinsalSimagdBundle:ImgDiagnosticoAdmin:diag_actionEvents.html.twig' %}
    {% include 'MinsalSimagdBundle:ImgNotaDiagnosticoAdmin:notdiag_actionEvents.html.twig' %}
    {% include 'MinsalSimagdBundle:ImgSolicitudEstudioComplementarioAdmin:solcmpl_actionEvents.html.twig' %}
    <!--
    //////////////////////////////////////////////////////////////
    //////// END --| SCRIPT FUNCTIONS
    //////////////////////////////////////////////////////////////
     -->

    {#{% include 'MinsalSimagdBundle:CRUD:simagd_edit_orm_modal.html.twig' ignore missing with {'id': 'patient_modal_search_'} %}#}

{% endblock %}

{% block list_table %} {% endblock %}

{% block list_filters %} {% endblock %}