{# empty Twig template #}

{% extends 'MinsalSimagdBundle:CRUD:base_list.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}



{% block sonata_page_content_header %} {% endblock sonata_page_content_header %}

{% block sonata_breadcrumb %} {% endblock sonata_breadcrumb %}{# #}

{% block actions %} {% endblock %}{# #}

{% block tab_menu %} {% endblock %}{# #}



{% block content %}
    {{ parent() }}

    <div class=" {#col-lg-10 col-md-10 col-sm-10#} col-lg-12 col-md-12 col-sm-12 ">
        <div class="box box-drop-outside-shadow {#box-dark-theme#} box-primary-v4">
            <div class="box-body">
                <div class="row">
                    {% include 'MinsalSimagdBundle:Menu:panel_top_menu.html.twig' %} {#ignore missing with {'id': 'patient_modal_search_'}#}
                </div>
            </div>
        </div>
    </div>

    <div class=" col-lg-8 col-md-8 col-sm-8 col-xs-offset-2 ">
        <div class="box box-drop-outside-shadow {#box-dark-theme#} box-primary-v4">
            <div class="box-body">

                <!-- WORKLIST MENU -->
                <div class="col-lg-10 col-md-10 col-sm-10 nav-pills-darkblue ">
                    <ul class="nav nav-pills nav-justified" id="_catalogs_dashboard_display_items">
                        <li role="presentation" class="dropdown active">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-list-alt"></span> Proyecciones <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu highlight-success-dropdown-menu" role="menu">
                                <li class="active"><a href="javascript:void(0)" onclick="generate(this, 'radiological_examinations'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-list-alt"></span> Proyecciones</a></li>
                                <li class="divider" role="separator"></li>
                                <li><a href="javascript:void(0)" onclick="generate(this, 'local_radiological_examinations', 1); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-home"></span> Proyecciones (loc.)</a></li>
                            </ul>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-list-alt"></span> Materiales <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu highlight-success-dropdown-menu" role="menu">
                                <li><a href="javascript:void(0)" onclick="generate(this, 'materials'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-list-alt"></span> Materiales</a></li>
                                <li><a href="javascript:void(0)" onclick="generate(this, 'local_materials'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-home"></span> Materiales (loc.)</a></li>
                            </ul>
                        </li>
                        <li role="presentation" ><a href="javascript:void(0)" onclick="generate(this, 'pacs_server_connections'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-signal"></span> Conexiones (PACS)</a></li>
                        <li role="presentation" ><a href="javascript:void(0)" onclick="generate(this, 'radiological_diagnostic_patterns'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-headphones"></span> Patrones (Dx)</a></li>
                    </ul>
                </div>

                <!-- DISPLAY TYPE -->
                <ul class="list-unstyled list-inline input-sm " id="_catalogs_dashboard_display_type" style="margin-top: 3px; margin-bottom: 6px;">
                    <li>
                        <label class="">
                            <input type="radio" checked="checked" value="list" name="_catalogs_dashboard_display_type" id="_catalogs_dashboard_display_type_0">
                            <span style="margin-left: 5px;"> Lista</span>
                        </label>
                    </li>
                    <li>
                        <label class="">
                            <input type="radio" {#checked="checked"#} value="detail" name="_catalogs_dashboard_display_type" id="_catalogs_dashboard_display_type_1">
                            <span style="margin-left: 5px;"> Detalle</span>
                        </label>
                    </li>
                </ul>

                {#<div class="checkbox">
                    <label>
                        <input type="checkbox" value="1" name="switch_display" id="switch_display" checked="checked" /> Día completo
                        <input type="checkbox" name="_switch_display" id="_switch_display" data-apply-bootstrap-switch="true" checked data-on-text=" Lista" data-off-text=" Detalle" data-label-text="Vista" data-inverse="true" class="" />
                    </label>
                </div>#}

            </div>
        </div>
    </div>

    <div class=" {#col-lg-10 col-md-10 col-sm-10#} col-lg-12 col-md-12 col-sm-12 ">
        {#<div class="row">#} <!-- row block -->
        {#</div>#} <!-- end row block -->

        <div class="tab-pane {#fade#} in active" id="tab_list__" style="min-height: 768px;" >

            <!--
            //////////////////////////////////////////////////////////////
            //////// TABLE
            //////////////////////////////////////////////////////////////
             -->
            <!-- table for any result -->
            <div class=" {#col-lg-9 col-md-9 col-sm-9#} ">
                <table class="table table-condensed" id="ryx_target_bstable" name="ryx_target_bstable" {#data-toggle="table" #}>
                    <thead></thead>
                </table>
            </div>
            <!-- end table -->


            <!--
            //////////////////////////////////////////////////////////////
            //////// END --| TABLE
            //////////////////////////////////////////////////////////////
             -->

        </div>

    </div>

    <!--
    //////////////////////////////////////////////////////////////
    //////// SCRIPT FUNCTIONS
    //////////////////////////////////////////////////////////////
     -->
    {% include 'MinsalSimagdBundle:General:catalogs_dashboard_script.html.twig' %}
    {% include 'MinsalSimagdBundle:RyxCtlProyeccionRadiologicaAdmin:expl_actionEvents.html.twig' %}
    {% include 'MinsalSimagdBundle:RyxCtlProyeccionEstablecimientoAdmin:explrz_actionEvents.html.twig' %}
    {% include 'MinsalSimagdBundle:RyxCtlMaterialAdmin:mtrl_actionEvents.html.twig' %}
    {% include 'MinsalSimagdBundle:RyxCtlMaterialEstablecimientoAdmin:mtrLc_actionEvents.html.twig' %}
    {% include 'MinsalSimagdBundle:RyxCtlConexionPacsEstablecimientoAdmin:pacs_actionEvents.html.twig' %}
    {% include 'MinsalSimagdBundle:RyxCtlPatronDiagnosticoAdmin:ptrDiag_actionEvents.html.twig' %}
    <!--
    //////////////////////////////////////////////////////////////
    //////// END --| SCRIPT FUNCTIONS
    //////////////////////////////////////////////////////////////
     -->

    {#{% include 'MinsalSimagdBundle:CRUD:simagd_edit_orm_modal.html.twig' ignore missing with {'id': 'patient_modal_search_'} %}#}

{% endblock %}

{% block list_table %} {% endblock %}

{% block list_filters %} {% endblock %}