{# empty Twig template #}

{% extends 'MinsalSimagdBundle:CRUD:base_list.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}



{% block sonata_page_content_header %} {% endblock sonata_page_content_header %}

{% block sonata_breadcrumb %} {% endblock sonata_breadcrumb %}{# #}

{% block actions %} {% endblock %}{# #}

{% block tab_menu %} {% endblock %}{# #}



{% block content %}
    {{ parent() }}

    {#<div class="col-lg-8 col-md-8 col-sm-8 col-xs-offset-2 ">#}
    {#<div class="col-lg-6 col-md-6 col-sm-6 ">#}
    <div class="col-lg-12 col-md-12 col-sm-12 ">
        {#<div class="row">#} <!-- row block -->
            <div class="box box-drop-outside-shadow {#box-dark-theme#} box-primary-v4">
                <div class="box-body">

                    <!-- WORKLIST MENU -->
                    <div class="col-lg-10 col-md-10 col-sm-10 nav-pills-darkblue ">
                        <ul class="nav nav-pills nav-justified" id="_catalogs_dashboard_display_items">
                            <li class="active"><a href="javascript:void(0)" onclick="generate(this, 'radiological_examinations'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-list-alt"></span> PROYECCIONES</a></li>
                            <li><a href="javascript:void(0)" onclick="generate(this, 'local_radiological_examinations', 1); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-home"></span> PROYECCIONES (LOC.)</a></li>
                            <li><a href="javascript:void(0)" onclick="generate(this, 'materials'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-list-alt"></span> MATERIALES</a></li>
                            <li><a href="javascript:void(0)" onclick="generate(this, 'local_materials'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-home"></span> MATERIALES (LOC.)</a></li>
                            <li><a href="javascript:void(0)" onclick="generate(this, 'pacs_server_connections'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-signal"></span> CONEXIONES (PACS)</a></li>
                            <li><a href="javascript:void(0)" onclick="generate(this, 'radiological_diagnostic_patterns'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-headphones"></span> PATRONES (DX)</a></li>
                        </ul>
                    </div>

                    <!-- DISPLAY TYPE -->
                    <ul class="list-unstyled list-inline input-sm " id="_catalogs_dashboard_display_type" style="margin-top: 3px; margin-bottom: 6px;">
                        <li>
                            <label class="">
                                <input type="radio" checked="checked" value="list" name="_catalogs_dashboard_display_type" id="_catalogs_dashboard_display_type_0">
                                <span style="margin-left: 5px;"> Lista</span>
                            </label>
                        </li>
                        <li>
                            <label class="">
                                <input type="radio" {#checked="checked"#} value="detail" name="_catalogs_dashboard_display_type" id="_catalogs_dashboard_display_type_1">
                                <span style="margin-left: 5px;"> Detalle</span>
                            </label>
                        </li>
                    </ul>

                    {#<div class="checkbox">
                        <label>
                            <input type="checkbox" value="1" name="switch_display" id="switch_display" checked="checked" /> Día completo
                            <input type="checkbox" name="_switch_display" id="_switch_display" data-apply-bootstrap-switch="true" checked data-on-text=" Lista" data-off-text=" Detalle" data-label-text="Vista" data-inverse="true" class="" />
                        </label>
                    </div>#}

                </div>
            </div>
        {#</div>#} <!-- end row block -->
    </div>

    <div class="tab-pane fade in active" id="tab_list__" style="min-height: 768px;" >

        <!--
        //////////////////////////////////////////////////////////////
        //////// TABLE
        //////////////////////////////////////////////////////////////
         -->
        <!-- table for any result -->
        <div class="{#col-lg-12 col-md-12 col-sm-12#} {#col-lg-9 col-md-9 col-sm-9#} ">
            <table class="table table-condensed" id="ryx_target_bstable" name="ryx_target_bstable" {#data-toggle="table" #}>
                <thead>
                </thead>
            </table>
        </div>
        <!-- end table -->


        <!-- context-menu -->
        <!-- RADIOLOGICAL EXAMINATIONS - CONTEXT MENU -->
        <ul id="radiologicalexaminations-context-menu" class="dropdown-menu highlight-success-dropdown-menu">
            <li class="dropdown-header">MENÚ</li>
            <li data-item="radiologicalexaminations_show"><a><span class="glyphicon glyphicon-folder-open"></span>Consultar</a></li>
            <li data-item="radiologicalexaminations_edit"><a><span class="glyphicon glyphicon-edit"></span>Editar</a></li>
            <li class="divider"></li>
            <li data-item="radiologicalexaminations_delete"><a><span class="glyphicon glyphicon-trash"></span>Borrar</a></li>
            <li class="divider"></li>
            <li data-item="radiologicalexaminations_create"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear nuevo</a></li>
            <li data-item="radiologicalexaminations_addtolocal"><a><span class="glyphicon glyphicon-plus-sign"></span>Agregar a oferta de servicios</a></li>
        </ul>
        <!-- end context-menu -->

        <!-- context-menu -->
        <!-- LOCAL RADIOLOGICAL EXAMINATIONS - CONTEXT MENU -->
        <ul id="localradiologicalexaminations-context-menu" class="dropdown-menu highlight-success-dropdown-menu">
            <li class="dropdown-header">MENÚ</li>
            <li data-item="localradiologicalexaminations_show"><a><span class="glyphicon glyphicon-folder-open"></span>Consultar</a></li>
            <li data-item="localradiologicalexaminations_edit"><a><span class="glyphicon glyphicon-edit"></span>Editar</a></li>
            <li class="divider"></li>
            <li data-item="localradiologicalexaminations_delete"><a><span class="glyphicon glyphicon-trash"></span>Borrar</a></li>
            <li class="divider"></li>
            <li data-item="localradiologicalexaminations_create"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear nuevo</a></li>
        </ul>
        <!-- end context-menu -->

        <!-- context-menu -->
        <!-- MATERIALS - CONTEXT MENU -->
        <ul id="materials-context-menu" class="dropdown-menu highlight-success-dropdown-menu">
            <li class="dropdown-header">MENÚ</li>
            <li data-item="materials_show"><a><span class="glyphicon glyphicon-folder-open"></span>Consultar</a></li>
            <li data-item="materials_edit"><a><span class="glyphicon glyphicon-edit"></span>Editar</a></li>
            <li class="divider"></li>
            <li data-item="materials_delete"><a><span class="glyphicon glyphicon-trash"></span>Borrar</a></li>
            <li class="divider"></li>
            <li data-item="materials_create"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear nuevo</a></li>
            <li data-item="materials_addtolocal"><a><span class="glyphicon glyphicon-plus-sign"></span>Agregar a oferta de servicios</a></li>
        </ul>
        <!-- end context-menu -->

        <!-- context-menu -->
        <!-- LOCAL MATERIALS - CONTEXT MENU -->
        <ul id="localmaterials-context-menu" class="dropdown-menu highlight-success-dropdown-menu">
            <li class="dropdown-header">MENÚ</li>
            <li data-item="localmaterials_show"><a><span class="glyphicon glyphicon-folder-open"></span>Consultar</a></li>
            <li data-item="localmaterials_edit"><a><span class="glyphicon glyphicon-edit"></span>Editar</a></li>
            <li class="divider"></li>
            <li data-item="localmaterials_delete"><a><span class="glyphicon glyphicon-trash"></span>Borrar</a></li>
            <li class="divider"></li>
            <li data-item="localmaterials_create"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear nuevo</a></li>
        </ul>
        <!-- end context-menu -->

        <!-- context-menu -->
        <!-- PACS SERVER CONNECTIONS - CONTEXT MENU -->
        <ul id="pacsserverconnections-context-menu" class="dropdown-menu highlight-success-dropdown-menu">
            <li class="dropdown-header">MENÚ</li>
            <li data-item="pacsserverconnections_show"><a><span class="glyphicon glyphicon-folder-open"></span>Consultar</a></li>
            <li data-item="pacsserverconnections_edit"><a><span class="glyphicon glyphicon-edit"></span>Editar</a></li>
            <li class="divider"></li>
            <li data-item="pacsserverconnections_delete"><a><span class="glyphicon glyphicon-trash"></span>Borrar</a></li>
            <li class="divider"></li>
            <li data-item="pacsserverconnections_create"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear nuevo</a></li>
            <li data-item="pacsserverconnections_testconnection"><a><span class="glyphicon glyphicon-signal"></span>Probar conexión</a></li>
        </ul>
        <!-- end context-menu -->

        <!-- context-menu -->
        <!-- RADIOLOGICAL DIAGNOSTIC PATTERNS - CONTEXT MENU -->
        <ul id="radiologicaldiagnosticpatterns-context-menu" class="dropdown-menu highlight-success-dropdown-menu">
            <li class="dropdown-header">MENÚ</li>
            <li data-item="radiologicaldiagnosticpatterns_show"><a><span class="glyphicon glyphicon-folder-open"></span>Consultar</a></li>
            <li data-item="radiologicaldiagnosticpatterns_edit"><a><span class="glyphicon glyphicon-edit"></span>Editar</a></li>
            <li class="divider"></li>
            <li data-item="radiologicaldiagnosticpatterns_delete"><a><span class="glyphicon glyphicon-trash"></span>Borrar</a></li>
            <li class="divider"></li>
            <li data-item="radiologicaldiagnosticpatterns_create"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear nuevo</a></li>
        </ul>
        <!-- end context-menu -->


        <!--
        //////////////////////////////////////////////////////////////
        //////// END --| TABLE
        //////////////////////////////////////////////////////////////
         -->

    </div>

    <!--
    //////////////////////////////////////////////////////////////
    //////// SCRIPT FUNCTIONS
    //////////////////////////////////////////////////////////////
     -->
    {#<script type="text/javascript">
    </script>#}
    {% include 'MinsalSimagdBundle:General:catalogs_dashboard_script.html.twig' %}
    <!--
    //////////////////////////////////////////////////////////////
    //////// END --| SCRIPT FUNCTIONS
    //////////////////////////////////////////////////////////////
     -->

    {% include 'MinsalSimagdBundle:CRUD:simagd_edit_orm_modal.html.twig' ignore missing with {'id': 'patient_modal_search_'} %}

{% endblock %}

{% block list_table %} {% endblock %}

{% block list_filters %} {% endblock %}