

                                                            <!-- RESULTS MENU CONTEXT -->
            <!-- context-menu -->
            <!-- RADIOLOGICAL RESULT - CONTEXT MENU -->
            <ul id="radiologicalresult-context-menu" class="dropdown-menu highlight-success-dropdown-menu">
                <li class="dropdown-header">MENÚ</li>
                <li data-item="radiologicalresult_show"><a><span class="glyphicon glyphicon-folder-open"></span>Consultar</a></li>
                <li data-item="radiologicalresult_edit"><a><span class="glyphicon glyphicon-edit"></span>Editar</a></li>
                <li class="divider"></li>
                <li data-item="radiologicalresult_delete"><a><span class="glyphicon glyphicon-trash"></span>Borrar</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">LISTA DE TRABAJO</li>
                <li data-item="radiologicalresult_goto"><a><span class="glyphicon glyphicon-list-alt"></span>Ver lista de trabajo...</a></li>
                <li data-item="radiologicalresult_checktranscript"><a><span class="glyphicon glyphicon-list-alt"></span>Revisar progreso de transcripción...</a></li>
                <li class="divider"></li>
                <li data-item="radiologicalresult_studydownload"><a><span class="glyphicon glyphicon-eye-open"></span>Recuperar estudio(s)</a></li>
                <li class="divider"></li>
                <li data-item="radiologicalresult_create"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear nuevo</a></li>
            </ul>
            <!-- end context-menu -->

            <!-- context-menu -->
            <!-- TRANSCRIBED DIAGNOSIS - CONTEXT MENU -->
            <ul id="transcribeddiagnosis-context-menu" class="dropdown-menu highlight-success-dropdown-menu">
                <li class="dropdown-header">MENÚ</li>
                <li data-item="transcribeddiagnosis_show"><a><span class="glyphicon glyphicon-folder-open"></span>Consultar</a></li>
                <li data-item="transcribeddiagnosis_edit"><a><span class="glyphicon glyphicon-edit"></span>Editar</a></li>
                <li class="divider"></li>
                <li data-item="transcribeddiagnosis_delete"><a><span class="glyphicon glyphicon-trash"></span>Borrar</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">LISTA DE TRABAJO</li>
                <li data-item="transcribeddiagnosis_goto"><a><span class="glyphicon glyphicon-list-alt"></span>Ver lista de trabajo...</a></li>
                <li data-item="transcribeddiagnosis_approve"><a><span class="glyphicon glyphicon-ok-sign"></span>Aprobar</a></li>
                <li data-item="transcribeddiagnosis_reprobate"><a><span class="glyphicon glyphicon-remove-sign"></span>Impugnar</a></li>
                <li class="divider"></li>
                <li data-item="transcribeddiagnosis_studydownload"><a><span class="glyphicon glyphicon-eye-open"></span>Recuperar estudio(s)</a></li>
                <li class="divider"></li>
                <li data-item="transcribeddiagnosis_create"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear nuevo</a></li>
            </ul>
            <!-- end context-menu -->

            <!-- context-menu -->
            <!-- SECOND MEDICAL OPINIONS - CONTEXT MENU -->
            <ul id="secondmedicalopinions-context-menu" class="dropdown-menu highlight-success-dropdown-menu">
                <li class="dropdown-header">MENÚ</li>
                <li data-item="secondmedicalopinions_show"><a><span class="glyphicon glyphicon-folder-open"></span>Consultar</a></li>
                <li data-item="secondmedicalopinions_edit"><a><span class="glyphicon glyphicon-edit"></span>Editar</a></li>
                <li class="divider"></li>
                <li data-item="secondmedicalopinions_delete"><a><span class="glyphicon glyphicon-trash"></span>Borrar</a></li>
                <li class="divider"></li>
                <li data-item="secondmedicalopinions_studydownload"><a><span class="glyphicon glyphicon-eye-open"></span>Recuperar estudio(s)</a></li>
                <li class="divider"></li>
                <li data-item="secondmedicalopinions_create"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear nuevo</a></li>
                <li data-item="secondmedicalopinions_addtothis"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear para este diagnóstico</a></li>
            </ul>
            <!-- end context-menu -->

            <!-- context-menu -->
            <!-- FURTHER STUDY REQUEST - CONTEXT MENU -->
            <ul id="furtherstudyrequest-context-menu" class="dropdown-menu highlight-success-dropdown-menu">
                <li class="dropdown-header">MENÚ</li>
                <li data-item="furtherstudyrequest_show"><a><span class="glyphicon glyphicon-folder-open"></span>Consultar</a></li>
                <li data-item="furtherstudyrequest_edit"><a><span class="glyphicon glyphicon-edit"></span>Editar</a></li>
                <li class="divider"></li>
                <li data-item="furtherstudyrequest_delete"><a><span class="glyphicon glyphicon-trash"></span>Borrar</a></li>
                <li class="divider"></li>
                <li data-item="furtherstudyrequest_studydownload"><a><span class="glyphicon glyphicon-eye-open"></span>Recuperar estudio(s)</a></li>
                <li class="divider"></li>
                <li data-item="furtherstudyrequest_create"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear nuevo</a></li>
                <li data-item="furtherstudyrequest_addtothis"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear para este estudio</a></li>
            </ul>
            <!-- end context-menu -->


                                                            <!-- WORKLIST MENU CONTEXT -->
            <!-- context-menu -->
            <!-- EXAMS WORKLIST - CONTEXT MENU -->
            <ul id="unrealizedproceduresworklist-context-menu" class="dropdown-menu highlight-success-dropdown-menu">
                <li class="dropdown-header">MENÚ</li>
                <li data-item="unrealizedproceduresworklist_show"><a><span class="glyphicon glyphicon-folder-open"></span>Consultar</a></li>
                <li data-item="unrealizedproceduresworklist_edit"><a><span class="glyphicon glyphicon-edit"></span>Editar</a></li>
                <li class="divider"></li>
                <li data-item="unrealizedproceduresworklist_delete"><a><span class="glyphicon glyphicon-trash"></span>Borrar</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">LISTA DE TRABAJO</li>
                <li data-item="unrealizedproceduresworklist_save"><a><span class="glyphicon glyphicon-floppy-saved"></span>Guardar</a></li>
                <li data-item="unrealizedproceduresworklist_saveandsearchinpacs"><a><span class="glyphicon glyphicon-link"></span>Guardar y enlazar a PACS</a></li>
                <li data-item="unrealizedproceduresworklist_goto"><a><span class="glyphicon glyphicon-edit"></span>Acceder</a></li>
                <li class="divider"></li>
                {#<li data-item="unrealizedproceduresworklist_studydownload"><a><span class="glyphicon glyphicon-eye-open"></span>Recuperar estudio(s)</a></li>
                <li class="divider"></li>#}
                <li data-item="unrealizedproceduresworklist_create"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear nuevo</a></li>
            </ul>
            <!-- end context-menu -->

            <!-- context-menu -->
            <!-- STUDY DIAGNOSIS WORKLIST - CONTEXT MENU -->
            <ul id="undiagnosedstudiesworklist-context-menu" class="dropdown-menu highlight-success-dropdown-menu">
                <li class="dropdown-header">MENÚ</li>
                <li data-item="undiagnosedstudiesworklist_show"><a><span class="glyphicon glyphicon-folder-open"></span>Consultar</a></li>
                <li data-item="undiagnosedstudiesworklist_edit"><a><span class="glyphicon glyphicon-edit"></span>Editar</a></li>
                <li class="divider"></li>
                <li data-item="undiagnosedstudiesworklist_delete"><a><span class="glyphicon glyphicon-trash"></span>Borrar</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">LISTA DE TRABAJO</li>
                <li data-item="undiagnosedstudiesworklist_save"><a><span class="glyphicon glyphicon-floppy-saved"></span>Guardar</a></li>
                <li data-item="undiagnosedstudiesworklist_saveandclose"><a><span class="glyphicon glyphicon-floppy-saved"></span>Guardar (lectura finalizada)</a></li>
                <li data-item="undiagnosedstudiesworklist_goto"><a><span class="glyphicon glyphicon-adjust"></span>Acceder</a></li>
                <li class="divider"></li>
                <li data-item="undiagnosedstudiesworklist_studydownload"><a><span class="glyphicon glyphicon-eye-open"></span>Recuperar estudio(s)</a></li>
                <li class="divider"></li>
                <li data-item="undiagnosedstudiesworklist_create"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear nuevo</a></li>
            </ul>
            <!-- end context-menu -->

            <!-- context-menu -->
            <!-- WRITE DIAGNOSIS WORKLIST - CONTEXT MENU -->
            <ul id="nontranscribedresultsworklist-context-menu" class="dropdown-menu highlight-success-dropdown-menu">
                <li class="dropdown-header">MENÚ</li>
                <li data-item="nontranscribedresultsworklist_show"><a><span class="glyphicon glyphicon-folder-open"></span>Consultar</a></li>
                <li data-item="nontranscribedresultsworklist_edit"><a><span class="glyphicon glyphicon-edit"></span>Editar</a></li>
                <li class="divider"></li>
                <li data-item="nontranscribedresultsworklist_delete"><a><span class="glyphicon glyphicon-trash"></span>Borrar</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">LISTA DE TRABAJO</li>
                <li data-item="nontranscribedresultsworklist_save"><a><span class="glyphicon glyphicon-floppy-saved"></span>Guardar</a></li>
                <li data-item="nontranscribedresultsworklist_saveandclose"><a><span class="glyphicon glyphicon-floppy-saved"></span>Guardar (transcripción finalizada)</a></li>
                <li data-item="nontranscribedresultsworklist_goto"><a><span class="glyphicon glyphicon-edit"></span>Acceder</a></li>
                <li class="divider"></li>
                <li data-item="nontranscribedresultsworklist_studydownload"><a><span class="glyphicon glyphicon-eye-open"></span>Recuperar estudio(s)</a></li>
                <li class="divider"></li>
                <li data-item="nontranscribedresultsworklist_create"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear nuevo</a></li>
            </ul>
            <!-- end context-menu -->

            <!-- context-menu -->
            <!-- CHECK DIAGNOSIS WORKLIST - CONTEXT MENU -->
            <ul id="nonvalidatedresultsworklist-context-menu" class="dropdown-menu highlight-success-dropdown-menu">
                <li class="dropdown-header">MENÚ</li>
                <li data-item="nonvalidatedresultsworklist_show"><a><span class="glyphicon glyphicon-folder-open"></span>Consultar</a></li>
                <li data-item="nonvalidatedresultsworklist_edit"><a><span class="glyphicon glyphicon-edit"></span>Editar</a></li>
                <li class="divider"></li>
                <li data-item="nonvalidatedresultsworklist_delete"><a><span class="glyphicon glyphicon-trash"></span>Borrar</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">LISTA DE TRABAJO</li>
                <li data-item="nonvalidatedresultsworklist_approve"><a><span class="glyphicon glyphicon-ok-sign"></span>Aprobar</a></li>
                <li data-item="nonvalidatedresultsworklist_reprobate"><a><span class="glyphicon glyphicon-remove-sign"></span>Impugnar</a></li>
                <li data-item="nonvalidatedresultsworklist_goto"><a><span class="glyphicon glyphicon-edit"></span>Acceder</a></li>
                <li class="divider"></li>
                <li data-item="nonvalidatedresultsworklist_studydownload"><a><span class="glyphicon glyphicon-eye-open"></span>Recuperar estudio(s)</a></li>
                <li class="divider"></li>
                <li data-item="nonvalidatedresultsworklist_create"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear nuevo</a></li>
            </ul>
            <!-- end context-menu -->


                                                            <!-- CATALOGUES MENU CONTEXT -->
        <!-- context-menu -->
        <!-- RADIOLOGICAL EXAMINATIONS - CONTEXT MENU -->
        <ul id="radiologicalexaminations-context-menu" class="dropdown-menu highlight-success-dropdown-menu">
            <li class="dropdown-header">MENÚ</li>
            <li data-item="radiologicalexaminations_show"><a><span class="glyphicon glyphicon-folder-open"></span>Consultar</a></li>
            <li data-item="radiologicalexaminations_edit"><a><span class="glyphicon glyphicon-edit"></span>Editar</a></li>
            <li class="divider"></li>
            <li data-item="radiologicalexaminations_delete"><a><span class="glyphicon glyphicon-trash"></span>Borrar</a></li>
            <li class="divider"></li>
            <li data-item="radiologicalexaminations_create"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear nuevo</a></li>
            <li data-item="radiologicalexaminations_addtolocal"><a><span class="glyphicon glyphicon-plus-sign"></span>Agregar a oferta de servicios</a></li>
        </ul>
        <!-- end context-menu -->

        <!-- context-menu -->
        <!-- LOCAL RADIOLOGICAL EXAMINATIONS - CONTEXT MENU -->
        <ul id="localradiologicalexaminations-context-menu" class="dropdown-menu highlight-success-dropdown-menu">
            <li class="dropdown-header">MENÚ</li>
            <li data-item="localradiologicalexaminations_show"><a><span class="glyphicon glyphicon-folder-open"></span>Consultar</a></li>
            <li data-item="localradiologicalexaminations_edit"><a><span class="glyphicon glyphicon-edit"></span>Editar</a></li>
            <li class="divider"></li>
            <li data-item="localradiologicalexaminations_delete"><a><span class="glyphicon glyphicon-trash"></span>Borrar</a></li>
            <li class="divider"></li>
            <li data-item="localradiologicalexaminations_create"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear nuevo</a></li>
        </ul>
        <!-- end context-menu -->

        <!-- context-menu -->
        <!-- MATERIALS - CONTEXT MENU -->
        <ul id="materials-context-menu" class="dropdown-menu highlight-success-dropdown-menu">
            <li class="dropdown-header">MENÚ</li>
            <li data-item="materials_show"><a><span class="glyphicon glyphicon-folder-open"></span>Consultar</a></li>
            <li data-item="materials_edit"><a><span class="glyphicon glyphicon-edit"></span>Editar</a></li>
            <li class="divider"></li>
            <li data-item="materials_delete"><a><span class="glyphicon glyphicon-trash"></span>Borrar</a></li>
            <li class="divider"></li>
            <li data-item="materials_create"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear nuevo</a></li>
            <li data-item="materials_addtolocal"><a><span class="glyphicon glyphicon-plus-sign"></span>Agregar a oferta de servicios</a></li>
        </ul>
        <!-- end context-menu -->

        <!-- context-menu -->
        <!-- LOCAL MATERIALS - CONTEXT MENU -->
        <ul id="localmaterials-context-menu" class="dropdown-menu highlight-success-dropdown-menu">
            <li class="dropdown-header">MENÚ</li>
            <li data-item="localmaterials_show"><a><span class="glyphicon glyphicon-folder-open"></span>Consultar</a></li>
            <li data-item="localmaterials_edit"><a><span class="glyphicon glyphicon-edit"></span>Editar</a></li>
            <li class="divider"></li>
            <li data-item="localmaterials_delete"><a><span class="glyphicon glyphicon-trash"></span>Borrar</a></li>
            <li class="divider"></li>
            <li data-item="localmaterials_create"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear nuevo</a></li>
        </ul>
        <!-- end context-menu -->

        <!-- context-menu -->
        <!-- PACS SERVER CONNECTIONS - CONTEXT MENU -->
        <ul id="pacsserverconnections-context-menu" class="dropdown-menu highlight-success-dropdown-menu">
            <li class="dropdown-header">MENÚ</li>
            <li data-item="pacsserverconnections_show"><a><span class="glyphicon glyphicon-folder-open"></span>Consultar</a></li>
            <li data-item="pacsserverconnections_edit"><a><span class="glyphicon glyphicon-edit"></span>Editar</a></li>
            <li class="divider"></li>
            <li data-item="pacsserverconnections_delete"><a><span class="glyphicon glyphicon-trash"></span>Borrar</a></li>
            <li class="divider"></li>
            <li data-item="pacsserverconnections_create"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear nuevo</a></li>
            <li data-item="pacsserverconnections_testconnection"><a><span class="glyphicon glyphicon-signal"></span>Probar conexión</a></li>
        </ul>
        <!-- end context-menu -->

        <!-- context-menu -->
        <!-- RADIOLOGICAL DIAGNOSTIC PATTERNS - CONTEXT MENU -->
        <ul id="radiologicaldiagnosticpatterns-context-menu" class="dropdown-menu highlight-success-dropdown-menu">
            <li class="dropdown-header">MENÚ</li>
            <li data-item="radiologicaldiagnosticpatterns_show"><a><span class="glyphicon glyphicon-folder-open"></span>Consultar</a></li>
            <li data-item="radiologicaldiagnosticpatterns_edit"><a><span class="glyphicon glyphicon-edit"></span>Editar</a></li>
            <li class="divider"></li>
            <li data-item="radiologicaldiagnosticpatterns_delete"><a><span class="glyphicon glyphicon-trash"></span>Borrar</a></li>
            <li class="divider"></li>
            <li data-item="radiologicaldiagnosticpatterns_create"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear nuevo</a></li>
        </ul>
        <!-- end context-menu -->


                                                            <!-- REQUEST MENU CONTEXT -->
            <!-- context-menu -->
            <!-- STUDY REQUEST - CONTEXT MENU -->
            <ul id="studyrequest-context-menu" class="dropdown-menu highlight-success-dropdown-menu">
                <li class="dropdown-header">MENÚ</li>
                <li data-item="studyrequest_show"><a><span class="glyphicon glyphicon-folder-open"></span>Consultar</a></li>
                <li data-item="studyrequest_edit"><a><span class="glyphicon glyphicon-edit"></span>Editar</a></li>
                <li class="divider"></li>
                <li data-item="studyrequest_delete"><a><span class="glyphicon glyphicon-trash"></span>Borrar</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">HISTORIA CLÍNICA</li>
                <li data-item="studyrequest_checkmedicalhistory"><a><span class="glyphicon glyphicon-list-alt"></span>Ver historia clínica...</a></li>
                <li data-item="studyrequest_showallrequest"><a><span class="glyphicon glyphicon-list-alt"></span>Solicitudes del paciente...</a></li>
                <li class="divider"></li>
                <li data-item="studyrequest_studydownload"><a><span class="glyphicon glyphicon-eye-open"></span>Recuperar estudio(s)</a></li>
                <li class="divider"></li>
                <li data-item="studyrequest_create"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear nuevo</a></li>
                <li data-item="studyrequest_createtothispatient"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear para este paciente</a></li>
            </ul>
            <!-- end context-menu -->

            <!-- context-menu -->
            <!-- EMERGENCY STUDY REQUEST - CONTEXT MENU -->
            <ul id="emergencystudyrequest-context-menu" class="dropdown-menu highlight-success-dropdown-menu">
                <li class="dropdown-header">MENÚ</li>
                <li data-item="emergencystudyrequest_show"><a><span class="glyphicon glyphicon-folder-open"></span>Consultar</a></li>
                <li data-item="emergencystudyrequest_edit"><a><span class="glyphicon glyphicon-edit"></span>Editar</a></li>
                <li class="divider"></li>
                <li data-item="emergencystudyrequest_delete"><a><span class="glyphicon glyphicon-trash"></span>Borrar</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">HISTORIA CLÍNICA</li>
                <li data-item="emergencystudyrequest_showallrequest"><a><span class="glyphicon glyphicon-list-alt"></span>Solicitudes del paciente...</a></li>
                <li class="divider"></li>
                <li data-item="emergencystudyrequest_studydownload"><a><span class="glyphicon glyphicon-eye-open"></span>Recuperar estudio(s)</a></li>
                <li class="divider"></li>
                <li data-item="emergencystudyrequest_create"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear nuevo</a></li>
                <li data-item="emergencystudyrequest_createtothispatient"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear para este paciente</a></li>
            </ul>
            <!-- end context-menu -->

            <!-- context-menu -->
            <!-- DIAGNOSTIC REQUEST - CONTEXT MENU -->
            <ul id="diagnosticrequest-context-menu" class="dropdown-menu highlight-success-dropdown-menu">
                <li class="dropdown-header">MENÚ</li>
                <li data-item="diagnosticrequest_show"><a><span class="glyphicon glyphicon-folder-open"></span>Consultar</a></li>
                <li data-item="diagnosticrequest_edit"><a><span class="glyphicon glyphicon-edit"></span>Editar</a></li>
                <li class="divider"></li>
                <li data-item="diagnosticrequest_delete"><a><span class="glyphicon glyphicon-trash"></span>Borrar</a></li>
                <li class="divider"></li>
                <li data-item="diagnosticrequest_studydownload"><a><span class="glyphicon glyphicon-eye-open"></span>Recuperar estudio(s)</a></li>
                <li class="divider"></li>
                <li data-item="diagnosticrequest_create"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear nuevo</a></li>
                <li data-item="diagnosticrequest_addtothis"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear para este diagnóstico</a></li>
            </ul>
            <!-- end context-menu -->

            <!-- context-menu -->
            <!-- FURTHER STUDY REQUEST - CONTEXT MENU -->
            <ul id="furtherstudyrequest-context-menu" class="dropdown-menu highlight-success-dropdown-menu">
                <li class="dropdown-header">MENÚ</li>
                <li data-item="furtherstudyrequest_show"><a><span class="glyphicon glyphicon-folder-open"></span>Consultar</a></li>
                <li data-item="furtherstudyrequest_edit"><a><span class="glyphicon glyphicon-edit"></span>Editar</a></li>
                <li class="divider"></li>
                <li data-item="furtherstudyrequest_delete"><a><span class="glyphicon glyphicon-trash"></span>Borrar</a></li>
                <li class="divider"></li>
                <li data-item="furtherstudyrequest_studydownload"><a><span class="glyphicon glyphicon-eye-open"></span>Recuperar estudio(s)</a></li>
                <li class="divider"></li>
                <li data-item="furtherstudyrequest_create"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear nuevo</a></li>
                <li data-item="furtherstudyrequest_addtothis"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear para este estudio</a></li>
            </ul>
            <!-- end context-menu -->