{# empty Twig template #}

{% extends 'MinsalSimagdBundle::simagd_base_show.html.twig' %}

{% block simagd_form_navbar_brand_title %}
    <span class="navbar-brand">
        <span class="label label-primary-v4">
            <i class="fa fa-h-square"></i> <i class="fa fa-eye"></i> Proyección realizable en local: <i>{{ object.idProyeccion|truncate(45) }}</i>
        </span>
    </span>
{% endblock %}

{# muestra de información de apoyo #}
{% block custom_entity_support %}
    <div id="custom-entity-content-body">
        {% include 'MinsalSimagdBundle:RyxCtlProyeccionEstablecimientoAdmin:explrz_modal_support.html.twig'
                    ignore missing with { 'exploracionInfo': object.idProyeccion,
                                            'examenInfo': object.idAreaExamenEstab ? object.idAreaExamenEstab.idExamenServicioDiagnostico : null,
                                            'modalidadInfo': object.idAreaExamenEstab ? object.idAreaExamenEstab.idAreaServicioDiagnostico : null,
                                            'establecimientoInfo': object.idAreaExamenEstab ? object.idAreaExamenEstab.idEstablecimiento : null,
                                         } %}
    </div>
{% endblock %}