{# empty Twig template #}

    <table class="table table-condensed">
        {% if pendienteLecturaInfo is not null %}
            <tr>
                <th class="col-md-2">Ingresó a la lista:</th>
                <td class="col-md-4">
                    {{ pendienteLecturaInfo.fechaIngresoLista|format_date('EEEE, MMMM d, yyyy', 'es_ES') ~ ' ' ~ pendienteLecturaInfo.fechaIngresoLista|date('H:i:s A') }}
                </td>
                <th class="col-md-2">Interpretar estudio en:</th>
                <td class="col-md-4">
                    {{ pendienteLecturaInfo.idEstablecimiento }}
                </td>
            </tr>
            <tr>
                <th class="col-md-2">Diagnóstico solicitado posterior a examen:</th>
                <td class="col-md-4">
                    {{ pendienteLecturaInfo.solicitudPostEstudio ? 'Si' : 'No' }}
                </td>
            </tr>

        {% else %}
            <tr>
                <td class="col-md-12">
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only"> Cerrar </span>
                        </button>
                        <strong>Sin resultados!</strong> No se encontró registro.
                    </div>
                </td>
            </tr>
        {% endif %}
    </table>