{# empty Twig template #}

    <table class="table table-condensed">
        {% if pendienteValidacionInfo is not null %}
            <tr>
                <th class="col-md-2">Ingres贸 a la lista:</th>
                <td class="col-md-4">
                    {{ pendienteValidacionInfo.fechaIngresoLista|format_date('EEEE, MMMM d, yyyy', 'es_ES') ~ ' ' ~ pendienteValidacionInfo.fechaIngresoLista|date('H:i:s A') }}
                </td>
                <th class="col-md-2">Validar diagn贸stico en:</th>
                <td class="col-md-4">
                    {{ pendienteValidacionInfo.idEstablecimiento }}
                </td>
            </tr>
            <tr>
                <th class="col-md-2">Proviene de correcci贸n:</th>
                <td class="col-md-4">
                    {{ pendienteValidacionInfo.fueCorregido ? 'Si' : 'No' }}
                </td>
            </tr>

        {% else %}
            <tr>
                <td class="col-md-12">
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <button type="button"    class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only"> Cerrar </span>
                        </button>
                        <strong>Sin resultados!</strong> No se encontr贸 registro.
                    </div>
                </td>
            </tr>
        {% endif %}
    </table>