{# empty Twig template #}

{% if admin.hasRoute('realizar') and
		( ( is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_PROCEDIMIENTO_REALIZADO_CREATE') and is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_PROCEDIMIENTO_REALIZADO_EDIT') )
			or is_granted('ROLE_ADMIN') )
%}

    <a   href="{{ admin.generateObjectUrl('realizar', object) }}" class="btn btn-sm btn-primary" title="Realizar procedimiento imagenológico solicitado"> <i class="glyphicon glyphicon-tasks"></i> Realizar </a>

{% endif %}