{# empty Twig template #}

<th class="info">{% block name %}{{ admin.trans(field_description.label) }}{% endblock %}</th>
<td class="info">
    {% block field %}
        <ul>
            {% for material in object.materialUtilizadoV2 %}
                <li>
                    <a   data-toggle="modal" href="#" data-id="{{ material.id }}" data-target="#materialUtlzFullData-showModalContainer" class="open-matUtlzDialog btn-link" title="Abrir detalles del Material">
                        <i class="fa fa-external-link-square"></i>
                    </a> &nbsp;
                    <strong> {{ material.idMaterial }} </strong>
                </li>
            {% endfor %}
        </ul>
    {% endblock %}
</td>