{# empty Twig template #}
    
{% block simagd_assignTrcX_alert %}
    <div class="simagd-response-bs-alert" aria-hidden="true">
	<div class="alert alert-info alert-dismissable" id="simagd-assign-trcx-response-bs-alert" style="display: none;">
	    <button type="button"    class="close" data-dismiss="alert">x</button>
	    <span>
		<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
		<strong>Asignados! &nbsp; </strong> Los registros fueron asignados satisfactoriamente.
	    </span>
	</div>
    </div>
{% endblock %}