{# empty Twig template #}

{% set object_study         = object.getIdEstudioPadre() %}
{% set object_study_proc    = object_study.getIdProcedimientoRealizado() %}
{% set object_request       = object_study_proc.getIdSolicitudEstudio() %}
{% set object_study_cit     = object_study_proc.getIdCitaProgramada() %}
{% set object_expediente    = object_request.getIdExpediente() %}
{% set object_paciente      = object_expediente.getIdPaciente() %}

<ul class="nav nav-pills nav-stacked col-md-3 col-xs-3" style="{#padding-left: 15px;#}"> <!-- required for floating -->
    <!-- Nav tabs -->
    <li class="active"><a   href="#lct_pacienteTab" data-toggle="pill"> <span class="glyphicon glyphicon-user"></span> Paciente <i class="fa"></i></a></li>
    <li><a   href="#lct_solicitudTab" data-toggle="pill"> <span class="glyphicon glyphicon-book"></span> Solicitud <i class="fa"></i></a></li>
    {% if object_study_cit is not null %}
        <li><a   href="#lct_citaTab" data-toggle="pill"> <span class="glyphicon glyphicon-tags"></span> Cita <i class="fa"></i></a></li>
    {% endif %}
    <li><a   href="#lct_estudiosTab" data-toggle="pill"> <span class="glyphicon glyphicon-eye-open"></span> Estudio padre <i class="fa"></i></a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content col-md-9 col-xs-9" style="overflow-y: auto; min-height: 760px;">
    
    {% if object_expediente.getIdPaciente() is not null %}
        {% include 'MinsalSimagdBundle:show_entity_block:pct_entity_block.html.twig' ignore missing with {'object_patient': object_expediente.getIdPaciente(), 'object_localRecord': localRecord, 'tab_active': true, 'box_style': 'primary-v2'} %}
    {% endif %}
    
    {% if object.getIdEstudioPadre() is not null %}
        {% include 'MinsalSimagdBundle:show_entity_block:est_entity_block.html.twig' ignore missing with {'object_study': object.getIdEstudioPadre(), 'object_studies': null, 'tab_active': false, 'box_style': 'primary-v2'} %}
    {% endif %}
    
    {% if object_study_proc.getIdSolicitudEstudio() is not null %}
        {% include 'MinsalSimagdBundle:show_entity_block:prc_entity_block.html.twig' ignore missing with {'object_request': object_study_proc.getIdSolicitudEstudio(), 'object_requests': null, 'tab_active': false, 'box_style': 'primary-v2'} %}
    {% endif %}
    
    {% if object_study_proc.getIdCitaProgramada() is not null %}
        {% include 'MinsalSimagdBundle:show_entity_block:cit_entity_block.html.twig' ignore missing with {'object_date': object_study_proc.getIdCitaProgramada(), 'object_dates': null, 'tab_active': false, 'box_style': 'primary-v2'} %}
    {% endif %}
    
</div>