{# empty Twig template #}

{% extends 'MinsalSimagdBundle::simagd_layout.html.twig' %}
    
{% block sonata_admin_content -%}

    <div id="simagd-not-found-container" style="height: 400px; min-height: 400px;">
        {% set simagd_vars = { 'simagd_title': 'IMAGENOLOGÍA DIGITAL',
                            'simagd_message': '<i class="text-danger">Registro no existente en el Sistema</i>'
        }%}
        {% include 'MinsalSimagdBundle:Menu:simagd_cabecera.html.twig' ignore missing with simagd_vars %}

        <h4><span class="simagd-text-primary"><img class="icono" src={{ asset('bundles/minsalsimagd/images/Warning_Basic_Full_TRAN.PNG') }} /><strong>Registro no encontrado</strong></span></h4>

        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only"> Cerrar </span>
            </button>
            <span>
                <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                <strong>REGISTRO NO EXISTE!</strong> &nbsp; Su petición no produjo ningún resultado.
            </span> 
        </div>

        <p class="text-danger" style="margin-left: 25px;">
            Usted ha sido redirigido hacia esta página por motivos de seguridad.
            El registro al que intentó acceder no existe.<br/>
            Por favor intente hacer nuevamente la consulta accediendo desde la lista de registros.
        </p>
    </div>

{% endblock -%}