{% autoescape false %}

    <script type="text/javascript">
        var _fn_show_object_detail = function(el, slug, id) {
            window.alert(slug + '\n' + id);
        }

        var generate = function(el, slug, emrg/* = 0, type = 'list'*/) {
			if (emrg === undefined) {
		        emrg = 0;
		    }
            ////////
            var $table = jQuery('#ryx_target_bstable');
            ////////
            $table.bootstrapTable('showLoading');

            $url = null;
			switch (slug) {
				case 'radiological_examinations':
					$url = 'simagd_proyeccion_generateTable';
					break;
				case 'local_radiological_examinations':
					$url = 'simagd_proyeccion_establecimiento_generateTable';
					break;
				case 'materials':
					$url = 'simagd_material_generateTable';
					break;
				case 'local_materials':
					$url = 'simagd_material_local_generateTable';
					break;
				case 'pacs_server_connections':
					$url = 'simagd_pacs_generateTable';
					break;
				case 'radiological_diagnostic_patterns':
					$url = 'simagd_patron_diagnostico_generateTable';
					break;
				default:
					break;
			}

            // if (slug === 'local_radiological_examinations') {
            //     emrg
            // }

            var type = jQuery('input[name=_catalogs_dashboard_display_type]:checked').val();

            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: Routing.generate($url),
                data: {
                    _xml_http_request: true,
                    id: 'id',
                    slug: slug,
                    type: type,
                    emrg: emrg,
                },
                success: function(response) {
                    $table
                        .bootstrapTable('destroy')
                        .bootstrapTable(response.options);
                    // $table.bootstrapTable('refreshOptions', response.options);

                    // $('#ryx_target_bstable').scrollTop(25000);
                },
                error: function(err) {
                    console.log(err.error, err.responseText);
                }
            });
        }

        jQuery(document).ready(function() {
            /*
             *
             * @type type
             * Get Table definition
             */
             // generate(null, 'radiological_examinations');
             // jQuery('#')

            //////
            var $table = jQuery('#ryx_target_bstable');
            ////////
            // $table.bootstrapTable('showLoading');
            $table
                .bootstrapTable('destroy')
                .bootstrapTable(JSON.parse('{{ DEFAULT_TABLE_OPTIONS|json_encode|e('js')|raw }}'));


            //////////////////////////////////////////////////////////////////////////
            //////// change content type - worklist
            //////////////////////////////////////////////////////////////////////////
            var __DOM__worklistDisplayType = jQuery('input[name=_catalogs_dashboard_display_type]');

            __DOM__worklistDisplayType.on('ifChecked', function(e) {

                        jQuery('#_catalogs_dashboard_display_items li.active').find('a').triggerHandler('click');

            });
            //////////////////////////////////////////////////////////////////////////
            //////////////////////////////////////////////////////////////////////////


            // jQuery('#_switch_display').iCheck('destroy').bootstrapSwitch();

        });

        // var destroy = function(el) {
        //     if (jQuery(el).attr('id') !== "undefined" && (jQuery(el).attr('id') === "pry2" || jQuery(el).attr('id') === "pry4")) {
        //         var $table = jQuery('#ryx_target_bstable');
        //         $table.bootstrapTable('destroy');
        //     }
        // }

        // function patientFormatResult(el) {
        //     var markup = '<div class="row-fluid">' +
        //                         // '<div class="span2"><img src="' + el.owner.avatar_url + '" /></div>' +
        //                         '<div class="span10">' +
        //                         '<div class="row-fluid">' +
        //                         '<div class="span6">' + el.full_name + '</div>' +
        //                         // '<div class="span3"><i class="fa fa-code-fork"></i> ' + el.forks_count + '</div>' +
        //                         // '<div class="span3"><i class="fa fa-star"></i> ' + el.stargazers_count + '</div>' +
        //                     '</div>';

        //     // if (el.description) {
        //     //     markup += '<div>' + el.description + '</div>';
        //     // }

        //     markup += '</div></div>';

        //     return markup;
        // }

        // function patientFormatSelection(el) {
        //     return el.full_name;
        // }

        // function displaySelection(data)
        // {
        //     var jt = [];
        //     if (!data.t || !parseInt(data.t, 10)) {
        //         jt.push('<div class="jumbotron">');
        //     }
        //     else {
        //         jt.push('<div class="jumbotron" style="background-color: #ebc5b9;">');
        //     }
        //     jt.push('<div class="container">', '<h2><strong><span class="text-primary-v4">', data.item.full_name, '</span></strong></h2>');
        //     if (!data.t || !parseInt(data.t, 10)) {
        //         jt.push('<strong><span class="badge badge-primary-v4" style="font-size: 25px;">', data.item.numero, '</span></strong>');
        //     }
        //     else {
        //         jt.push('<strong><span class="badge badge-emergency" style="font-size: 25px;">', data.item.numero, '</span></strong>');
        //     }
        //     jt.push('<p><a class="btn btn-primary-v4 " role="button">Crear solicitud</a></p>');
        //     jt.push('</div>', '</div>');
        //     return jt.join('');
        // }
    </script>

{% endautoescape %}
