{% autoescape false %}

	<script type="text/javascript">
        ////////////////////////////////////////////////////////////////
        //////// clear form
        ////////////////////////////////////////////////////////////////
        var clearForm = function(el) {
            $form = jQuery(el).closest('form');
            $form.data('formValidation').resetForm();
            $form.get(0).reset();
            $form
                .find('select')
                    .each(function () {
                        var $select2    = jQuery(this);
                        $select2.select2('val', $select2.find(':selected').val());
                    });
        }
        ////////////////////////////////////////////////////////////////

        ////////////////////////////////////////////////////////////////
        //////// select2 build
        ////////////////////////////////////////////////////////////////
        jQuery.extend(true,
                window.Admin,
                {
                    setup_select2: function(subject) {
                        if (window.SONATA_CONFIG && window.SONATA_CONFIG.USE_SELECT2 && window.Select2) {

                            jQuery('select:not([data-sonata-select2="false"])', subject).each(function() {
                                var select = $(this);

                                var allowClearEnabled = false;

                                if (select.find('option[value=""]').length) {
                                    allowClearEnabled = true;
                                }

                                if (select.attr('data-sonata-select2-allow-clear')==='true') {
                                    allowClearEnabled = true;
                                } else if (select.attr('data-sonata-select2-allow-clear')==='false') {
                                    allowClearEnabled = false;
                                }

                                var placeholder = '';
                                if (allowClearEnabled !== false) {
                                    placeholder = 'click para seleccionar...';
                                }

                                var __select2_options__ = {
                                    width: 'resolve',
                                    minimumResultsForSearch: 10,
                                    // dropdownAutoWidth : true,
                                    allowClear: allowClearEnabled,
                                    placeholder: placeholder,
                                };

                                //////// escapeMarkup
                                if (select.attr('data-sonata-select2-escape-markup')==='true') {
                                    jQuery.extend(true,
                                        __select2_options__,
                                        {
                                            escapeMarkup: function(markup) {
                                                return markup;
                                            }
                                        }
                                    );
                                }
                                ////////

                                //////// width
                                // if (select.attr('data-sonata-select2-limit-width')==='true') {
                                //     jQuery.extend(true,
                                //         __select2_options__,
                                //         {
                                //             width: '75%'
                                //         }
                                //     );
                                // }
                                ////////

                                //////// initialize with custom options
                                select.select2(__select2_options__);
                                ////////

                                var popover = select.data('popover');

                                if (undefined !== popover) {
                                    select
                                        .select2('container')
                                        .popover(popover.options)
                                    ;
                                }
                            });
                        }
                    }
                }
        ); // set value for filter

        jQuery(document).ready(function() {
        //     ////////////////////////////////////////////////////////////////
        //     //////// table height
        //     ////////////////////////////////////////////////////////////////
        //     /*
        //      *
        //      * @type type
        //      * Get Table definition
        //      */
        //      // generate(null, 'unrealized_procedures');
        //      // jQuery('#')

        //     //////
        //     var $table = jQuery('#ryx_target_bstable');

        //     $table.on('load-success.bs.table', function (e, data) {
        //         var pageSize = $table.bootstrapTable('getOptions').pageSize;    // --| get pageSize
        //         if ((data.length > 0 && data.length <= 15) || pageSize <= 15) {
        //             $table.bootstrapTable('resetView', {height: 768}).bootstrapTable('resetWidth');
        //         }
        //         else {
        //             $table.bootstrapTable('resetView', {height: undefined}).bootstrapTable('resetWidth');
        //         }
        //     });


            //////////////////////////////////////////////////////////////////////////
            //////// ONDBLCLICKROW - EVENT
            //////////////////////////////////////////////////////////////////////////
            var $table = jQuery('#ryx_target_bstable');
            $table.on('dbl-click-row.bs.table', function (e, row, $element, field) {
                var url = null;
                var type_view = jQuery('input[name=_worklist_dashboard_display_type]:checked').val();
                if (row.hasOwnProperty('table_dbl_click_url') && type_view === 'list') {
                    url = row.table_dbl_click_url;
                }
                if (typeof url !== "undefined" && url !== null && url !== "") {
                    window.console.log('e', e, '\nrow', row, '\n$element', $element, '\nfield', field, '\nurl', url, '\nID', row.id);
                    window.location.href = url; // simulate link click
                }
            });
            //////////////////////////////////////////////////////////////////////////
            //////////////////////////////////////////////////////////////////////////

        });
        

        // var destroy = function(el) {
        //     if (jQuery(el).attr('id') !== "undefined" && (jQuery(el).attr('id') === "pry2" || jQuery(el).attr('id') === "pry4")) {
        //         var $table = jQuery('#ryx_target_bstable');
        //         $table.bootstrapTable('destroy');
        //     }
        // }

        // function patientFormatResult(el) {
        //     var markup = '<div class="row-fluid">' +
        //                         // '<div class="span2"><img src="' + el.owner.avatar_url + '" /></div>' +
        //                         '<div class="span10">' +
        //                         '<div class="row-fluid">' +
        //                         '<div class="span6">' + el.full_name + '</div>' +
        //                         // '<div class="span3"><i class="fa fa-code-fork"></i> ' + el.forks_count + '</div>' +
        //                         // '<div class="span3"><i class="fa fa-star"></i> ' + el.stargazers_count + '</div>' +
        //                     '</div>';

        //     // if (el.description) {
        //     //     markup += '<div>' + el.description + '</div>';
        //     // }

        //     markup += '</div></div>';

        //     return markup;
        // }

        // function patientFormatSelection(el) {
        //     return el.full_name;
        // }

        // function displaySelection(data)
        // {
        //     var jt = [];
        //     if (!data.t || !parseInt(data.t, 10)) {
        //         jt.push('<div class="jumbotron">');
        //     }
        //     else {
        //         jt.push('<div class="jumbotron" style="background-color: #ebc5b9;">');
        //     }
        //     jt.push('<div class="container">', '<h2><strong><span class="text-primary-v4">', data.item.full_name, '</span></strong></h2>');
        //     if (!data.t || !parseInt(data.t, 10)) {
        //         jt.push('<strong><span class="badge badge-primary-v4" style="font-size: 25px;">', data.item.numero, '</span></strong>');
        //     }
        //     else {
        //         jt.push('<strong><span class="badge badge-emergency" style="font-size: 25px;">', data.item.numero, '</span></strong>');
        //     }
        //     jt.push('<p><a class="btn btn-primary-v4 " role="button">Crear solicitud</a></p>');
        //     jt.push('</div>', '</div>');
        //     return jt.join('');
        // }



        // jQuery(document).ready(function() {
        //     /*
        //      *
        //      * @type type
        //      * Get Table definition
        //      */
        //      // generate(null, 'unrealized_procedures');
        //      // jQuery('#')

        //     //////
        //     var $table = jQuery('#ryx_target_bstable');
        //     ////////
        //     // $table.bootstrapTable('showLoading');

        //     ////////
        //     var DEFAULT_TABLE_OPTIONS = JSON.parse('{# DEFAULT_TABLE_OPTIONS|json_encode|e('js')|raw #}');
        //     // $.each(DEFAULT_TABLE_OPTIONS, function(i, opt) {
        //     //     if (typeof opt === 'string' && opt.indexOf('__FUNCTIONS_CALL__.functions') !== -1) {
        //     //         var namespaces = opt.split('.');
        //     //         var func = namespaces.pop();
        //     //         var context = window;
        //     //         for(var x = 0; x < namespaces.length; x++) {
        //     //             context = context[namespaces[x]];
        //     //         }
        //     //         DEFAULT_TABLE_OPTIONS[i] = context[func];  // set function
        //     //     }
        //     // });
        //     ////////

        //     $table
        //         .bootstrapTable('destroy')
        //         .bootstrapTable(DEFAULT_TABLE_OPTIONS);


        //     //////////////////////////////////////////////////////////////////////////
        //     //////// change content type - worklist
        //     //////////////////////////////////////////////////////////////////////////
        //     var __DOM__worklistDisplayType = jQuery('input[name=_worklist_dashboard_display_type]');

        //     __DOM__worklistDisplayType.on('ifChecked', function(e) {

        //                 jQuery('#_worklist_dashboard_display_items li.active').find('a').triggerHandler('click');

        //     });
        //     //////////////////////////////////////////////////////////////////////////
        //     //////////////////////////////////////////////////////////////////////////

        //     // jQuery('#_switch_display').iCheck('destroy').bootstrapSwitch();
        // });
    </script>

{% endautoescape %}