{% autoescape false %}

	<script type="text/javascript">
        var _fn_show_object_detail = function(el, slug, id) {
            window.alert(slug + '\n' + id);
        }

        var generate = function(el, slug, emrg/* = 0, type = 'list'*/) {
			if (emrg === undefined) {
		        emrg = 0;
		    }
            ////////
            var $table = jQuery('#ryx_target_bstable');
            ////////
            $table.bootstrapTable('showLoading');

            $url = null;
			switch (slug) {
				case 'radiological_result':
					$url = 'simagd_lectura_generateTable';
					break;
				case 'transcribed_diagnosis':
					$url = 'simagd_diagnostico_generateTable';
					break;
				case 'second_medical_opinions':
					$url = 'simagd_segunda_opinion_medica_generateTable';
					break;
				case 'further_study_request':
					$url = 'simagd_solicitud_estudio_complementario_generateTable';
					break;
				default:
					break;
			}

            // if (slug === 'transcribed_diagnosis') {
            //     emrg
            // }

            var type = jQuery('input[name=_results_dashboard_display_type]:checked').val();

            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: Routing.generate($url),
                data: {
                    _xml_http_request: true,
                    id: 'id',
                    slug: slug,
                    type: type,
                    emrg: emrg,
                },
                success: function(response) {
                    ////////
                    $.each(response.options, function(i, opt) {
                        if (typeof opt === 'string' && opt.indexOf('__FUNCTIONS_CALL__.functions') !== -1) {
                            var namespaces = opt.split('.');
                            var func = namespaces.pop();
                            var context = window;
                            for(var x = 0; x < namespaces.length; x++) {
                                context = context[namespaces[x]];
                            }
                            response.options[i] = context[func];  // set function
                        }
                    });
                    ////////

                    $table
                        .bootstrapTable('destroy')
                        .bootstrapTable(response.options);
                    // $table.bootstrapTable('refreshOptions', response.options);

                    // $('#ryx_target_bstable').scrollTop(25000);
                },
                error: function(err) {
                    console.log(err.error, err.responseText);
                }
            });
        }

        jQuery(document).ready(function() {
            /*
             *
             * @type type
             * Get Table definition
             */
             // generate(null, 'radiological_result');
             // jQuery('#')

            //////
            var $table = jQuery('#ryx_target_bstable');
            ////////
            // $table.bootstrapTable('showLoading');

            ////////
            var DEFAULT_TABLE_OPTIONS = JSON.parse('{{ DEFAULT_TABLE_OPTIONS|json_encode|e('js')|raw }}');
            $.each(DEFAULT_TABLE_OPTIONS, function(i, opt) {
                if (typeof opt === 'string' && opt.indexOf('__FUNCTIONS_CALL__.functions') !== -1) {
                    var namespaces = opt.split('.');
                    var func = namespaces.pop();
                    var context = window;
                    for(var x = 0; x < namespaces.length; x++) {
                        context = context[namespaces[x]];
                    }
                    DEFAULT_TABLE_OPTIONS[i] = context[func];  // set function
                }
            });
            ////////

            $table
                .bootstrapTable('destroy')
                .bootstrapTable(DEFAULT_TABLE_OPTIONS);


            //////////////////////////////////////////////////////////////////////////
            //////// change content type - worklist
            //////////////////////////////////////////////////////////////////////////
            var __DOM__worklistDisplayType = jQuery('input[name=_results_dashboard_display_type]');

            __DOM__worklistDisplayType.on('ifChecked', function(e) {

                        jQuery('#_results_dashboard_display_items li.active').find('a').triggerHandler('click');

            });
            //////////////////////////////////////////////////////////////////////////
            //////////////////////////////////////////////////////////////////////////


			// jQuery('#_switch_display').iCheck('destroy').bootstrapSwitch();


            //////////////////////////////////////////////////////////////////////////
            //////// ONDBLCLICKROW - EVENT
            //////////////////////////////////////////////////////////////////////////
            $table.on('dbl-click-row.bs.table', function (e, row, $element, field) {
                window.console.log(e, row, $element, field);
                var url = Routing.generate('simagd_lectura_show', {id: row.id, mode: 'standard'});
                // window.location.href = url; // simulate link click
            });
            //////////////////////////////////////////////////////////////////////////
            //////////////////////////////////////////////////////////////////////////

        });

        (function ($) {
            /*
             *
             * @type Array
             * Global variables for plugin
             */
            window.__FUNCTIONS_CALL__ = {};   // --| build data collection

            /*
             * Collection of functions / fc options
             */
            __FUNCTIONS_CALL__.functions = {
                onContextMenuItem: function(row, $el) {
                    /////////////////////////////////////////////////////
                    //////// RADIOLOGICAL RESULT - CONTEXT MENU
                    /////////////////////////////////////////////////////
                    if($el.data('item') === 'radiologicalresult_show')
                    {
                        window.console.log('item is: \n', $el.data('item'), '\n row.id id: \n', row.id);
                        var url = Routing.generate('simagd_lectura_show', {id: row.id, mode: 'standard'});
                        window.location.href = url; // simulate link click
                    }
                    else if($el.data('item') === 'radiologicalresult_edit')
                    {
                        window.console.log('item is: \n', $el.data('item'), '\n row.id id: \n', row.id);
                        var url = Routing.generate('simagd_lectura_edit', {id: row.id, mode: 'standard'});
                        window.location.href = url; // simulate link click
                    }
                    else if($el.data('item') === 'radiologicalresult_delete')
                    {
                        window.console.log('item is: \n', $el.data('item'), '\n row.id id: \n', row.id);
                        var url = Routing.generate('simagd_lectura_delete', {id: row.id, confirmation: false});
                        window.location.href = url; // simulate link click
                    }
                    else if($el.data('item') === 'radiologicalresult_goto')
                    {
                        window.console.log('item is: \n', $el.data('item'), '\n row.id id: \n', row.id);
                        var url = Routing.generate('simagd_imagenologia_digital_worklist', {menu: 'undiagnosed_studies', lct_id: row.id, mode: 'standard'});
                        window.location.href = url; // simulate link click
                    }
                    else if($el.data('item') === 'radiologicalresult_checktranscript')
                    {
                        window.console.log('item is: \n', $el.data('item'), '\n row.id id: \n', row.id);
                        var url = Routing.generate('simagd_imagenologia_digital_worklist', {menu: 'transcribed_diagnosis', lct_id: row.id, mode: 'standard'});
                        window.location.href = url; // simulate link click
                    }
                    else if($el.data('item') === 'radiologicalresult_studydownload')
                    {
                        window.console.log('item is: \n', $el.data('item'), '\n row.id id: \n', row.id);
                        var url = Routing.generate('simagd_lectura_delete', {id: row.id, confirmation: false});
                        window.location.href = url; // simulate link click
                    }
                    else if($el.data('item') === 'radiologicalresult_create')
                    {
                        window.console.log('item is: \n', $el.data('item'), '\n row.id id: \n', row.id);
                        var url = Routing.generate('simagd_lectura_create', {id: row.id, mode: 'standard'});
                        window.location.href = url; // simulate link click
                    }

                    /////////////////////////////////////////////////////
                    //////// TRANSCRIBED DIAGNOSIS - CONTEXT MENU
                    /////////////////////////////////////////////////////
                    else if($el.data('item') === 'transcribeddiagnosis_show')
                    {
                        window.console.log('item is: \n', $el.data('item'), '\n row.id id: \n', row.id);
                        var url = Routing.generate('simagd_diagnostico_show', {id: row.id, mode: 'standard', worklist: true, worklist_id: row.id});
                        window.location.href = url; // simulate link click
                    }
                    else if($el.data('item') === 'transcribeddiagnosis_edit')
                    {
                        window.console.log('item is: \n', $el.data('item'), '\n row.id id: \n', row.id);
                        var url = Routing.generate('simagd_diagnostico_edit', {id: row.id, mode: 'standard', worklist: true, worklist_id: row.id});
                        var url = Routing.generate('simagd_lectura_edit', {id: row.lct_id, mode: 'standard', worklist: true, worklist_id: row.id});
                        window.location.href = url; // simulate link click
                    }
                    else if($el.data('item') === 'transcribeddiagnosis_delete')
                    {
                        window.console.log('item is: \n', $el.data('item'), '\n row.id id: \n', row.id);
                        var url = Routing.generate('simagd_sin_transcribir_delete', {id: row.id, confirmation: false});
                        window.location.href = url; // simulate link click
                    }
                    else if($el.data('item') === 'transcribeddiagnosis_goto')
                    {
                        window.console.log('item is: \n', $el.data('item'), '\n row.id id: \n', row.id);
                        var url = Routing.generate('simagd_imagenologia_digital_worklist', {menu: 'transcribed_diagnosis', id: row.id, mode: 'standard'});
                        window.location.href = url; // simulate link click
                    }
                    else if($el.data('item') === 'transcribeddiagnosis_approve')
                    {
                        window.console.log('item is: \n', $el.data('item'), '\n row.id id: \n', row.id);
                        var url = Routing.generate('simagd_diagnostico_approve', {id: row.id, approve: true, confirmation: false});
                        window.location.href = url; // simulate link click
                    }
                    else if($el.data('item') === 'transcribeddiagnosis_reprobate')
                    {
                        window.console.log('item is: \n', $el.data('item'), '\n row.id id: \n', row.id);
                        var url = Routing.generate('simagd_diagnostico_approve', {id: row.id, approve: false, confirmation: false});
                        window.location.href = url; // simulate link click
                    }
                    else if($el.data('item') === 'transcribeddiagnosis_studydownload')
                    {
                        window.console.log('item is: \n', $el.data('item'), '\n row.id id: \n', row.id);
                        var url = Routing.generate('simagd_lectura_delete', {id: row.id, confirmation: false});
                        window.location.href = url; // simulate link click
                    }
                    else if($el.data('item') === 'transcribeddiagnosis_create')
                    {
                        window.console.log('item is: \n', $el.data('item'), '\n row.id id: \n', row.id);
                        var url = Routing.generate('simagd_sin_transcribir_create', {lct_id: row.id, mode: 'standard'});
                        window.location.href = url; // simulate link click
                    }

                    /////////////////////////////////////////////////////
                    //////// SECOND MEDICAL OPINIONS - CONTEXT MENU
                    /////////////////////////////////////////////////////
                    else if($el.data('item') === 'secondmedicalopinions_show')
                    {
                        window.console.log('item is: \n', $el.data('item'), '\n row.id id: \n', row.id);
                        var url = Routing.generate('simagd_segunda_opinion_medica_show', {id: row.id, mode: 'standard'});
                        window.location.href = url; // simulate link click
                    }
                    else if($el.data('item') === 'secondmedicalopinions_edit')
                    {
                        window.console.log('item is: \n', $el.data('item'), '\n row.id id: \n', row.id);
                        var url = Routing.generate('simagd_segunda_opinion_medica_edit', {id: row.id, mode: 'standard'});
                        window.location.href = url; // simulate link click
                    }
                    else if($el.data('item') === 'secondmedicalopinions_delete')
                    {
                        window.console.log('item is: \n', $el.data('item'), '\n row.id id: \n', row.id);
                        var url = Routing.generate('simagd_segunda_opinion_medica_delete', {id: row.id, confirmation: false});
                        window.location.href = url; // simulate link click
                    }
                    else if($el.data('item') === 'secondmedicalopinions_studydownload')
                    {
                        window.console.log('item is: \n', $el.data('item'), '\n row.id id: \n', row.id);
                        var url = Routing.generate('simagd_lectura_show', {id: row.id, mode: 'standard'});
                        window.location.href = url; // simulate link click
                    }
                    else if($el.data('item') === 'secondmedicalopinions_create')
                    {
                        window.console.log('item is: \n', $el.data('item'), '\n row.id id: \n', row.id);
                        var url = Routing.generate('simagd_segunda_opinion_medica_create', {id: row.id, mode: 'standard'});
                        window.location.href = url; // simulate link click
                    }
                    else if($el.data('item') === 'secondmedicalopinions_addtothis')
                    {
                        window.console.log('item is: \n', $el.data('item'), '\n row.id id: \n', row.id);
                        var url = Routing.generate('simagd_segunda_opinion_medica_create', {id: row.id, preview: row.id, mode: 'standard'});
                        window.location.href = url; // simulate link click
                    }

                    /////////////////////////////////////////////////////
                    //////// FURTHER STUDY REQUEST - CONTEXT MENU
                    /////////////////////////////////////////////////////
                    else if($el.data('item') === 'furtherstudyrequest_show')
                    {
                        window.console.log('item is: \n', $el.data('item'), '\n row.id id: \n', row.id);
                        var url = Routing.generate('simagd_solicitud_estudio_complementario_show', {id: row.id, mode: 'standard'});
                        window.location.href = url; // simulate link click
                    }
                    else if($el.data('item') === 'furtherstudyrequest_edit')
                    {
                        window.console.log('item is: \n', $el.data('item'), '\n row.id id: \n', row.id);
                        var url = Routing.generate('simagd_solicitud_estudio_complementario_edit', {id: row.id, mode: 'standard'});
                        window.location.href = url; // simulate link click
                    }
                    else if($el.data('item') === 'furtherstudyrequest_delete')
                    {
                        window.console.log('item is: \n', $el.data('item'), '\n row.id id: \n', row.id);
                        var url = Routing.generate('simagd_solicitud_estudio_complementario_delete', {id: row.id, confirmation: false});
                        window.location.href = url; // simulate link click
                    }
                    else if($el.data('item') === 'furtherstudyrequest_studydownload')
                    {
                        window.console.log('item is: \n', $el.data('item'), '\n row.id id: \n', row.id);
                        var url = Routing.generate('simagd_lectura_show', {id: row.id, mode: 'standard'});
                        window.location.href = url; // simulate link click
                    }
                    else if($el.data('item') === 'furtherstudyrequest_create')
                    {
                        window.console.log('item is: \n', $el.data('item'), '\n row.id id: \n', row.id);
                        var url = Routing.generate('simagd_solicitud_estudio_complementario_create', {id: row.id, mode: 'standard'});
                        window.location.href = url; // simulate link click
                    }
                    else if($el.data('item') === 'furtherstudyrequest_addtothis')
                    {
                        window.console.log('item is: \n', $el.data('item'), '\n row.id id: \n', row.id);
                        var url = Routing.generate('simagd_solicitud_estudio_complementario_create', {id: row.id, preview: row.id, mode: 'standard'});
                        window.location.href = url; // simulate link click
                    }
                    // end
                },
            };  // --| build function object

        }(jQuery));

        // var destroy = function(el) {
        //     if (jQuery(el).attr('id') !== "undefined" && (jQuery(el).attr('id') === "pry2" || jQuery(el).attr('id') === "pry4")) {
        //         var $table = jQuery('#ryx_target_bstable');
        //         $table.bootstrapTable('destroy');
        //     }
        // }

        // function patientFormatResult(el) {
        //     var markup = '<div class="row-fluid">' +
        //                         // '<div class="span2"><img src="' + el.owner.avatar_url + '" /></div>' +
        //                         '<div class="span10">' +
        //                         '<div class="row-fluid">' +
        //                         '<div class="span6">' + el.full_name + '</div>' +
        //                         // '<div class="span3"><i class="fa fa-code-fork"></i> ' + el.forks_count + '</div>' +
        //                         // '<div class="span3"><i class="fa fa-star"></i> ' + el.stargazers_count + '</div>' +
        //                     '</div>';

        //     // if (el.description) {
        //     //     markup += '<div>' + el.description + '</div>';
        //     // }

        //     markup += '</div></div>';

        //     return markup;
        // }

        // function patientFormatSelection(el) {
        //     return el.full_name;
        // }

        // function displaySelection(data)
        // {
        //     var jt = [];
        //     if (!data.t || !parseInt(data.t, 10)) {
        //         jt.push('<div class="jumbotron">');
        //     }
        //     else {
        //         jt.push('<div class="jumbotron" style="background-color: #ebc5b9;">');
        //     }
        //     jt.push('<div class="container">', '<h2><strong><span class="text-primary-v4">', data.item.full_name, '</span></strong></h2>');
        //     if (!data.t || !parseInt(data.t, 10)) {
        //         jt.push('<strong><span class="badge badge-primary-v4" style="font-size: 25px;">', data.item.numero, '</span></strong>');
        //     }
        //     else {
        //         jt.push('<strong><span class="badge badge-emergency" style="font-size: 25px;">', data.item.numero, '</span></strong>');
        //     }
        //     jt.push('<p><a class="btn btn-primary-v4 " role="button">Crear solicitud</a></p>');
        //     jt.push('</div>', '</div>');
        //     return jt.join('');
        // }
    </script>

{% endautoescape %}